{% extends "task/do_task_two_column.html" %}


{% block task_instructions %}
{{ multiple_choice.instructions }}
{% endblock task_instructions %}

{% block task_question %}
{{ multiple_choice.question }}
{% endblock task_question %}

{% block content_left %}

<form action="{% url 'multiple_choice:do' task_id=task.id course_id=course_id slide_id=slide_id %}" method="post">
    {% csrf_token %}
    {% for choice in multiple_choice.choice_set.all %}
        {% if counter_corr_answ <= 1 %}
            {% if choice.text in choice_text %}
                <input class="form-check-input" type="radio" checked name="choice" value="{{ choice.id }}">
            {% else %}
                <input class="form-check-input" type="radio" name="choice" value="{{ choice.id }}">
            {% endif %}
        {% else %}
            {% if choice.text in choice_text %}
                <input class="form-check-input" type="checkbox" checked name="choice" value="{{ choice.id }}">
            {% else %}
                <input class="form-check-input" type="checkbox" name="choice" value="{{ choice.id }}">
            {% endif %}
        {% endif %}

        <span
            {% if answered %}
                {% if not 'no' in answered %}
                    {% if choice.correct %}
                        style="color: green"
                    {% else %}
                        style="color: red"
                    {% endif %}
                {% endif %}
            {% endif %}>
            {{ choice.text }}
            {% if answered and not 'no' in answered %}
                {% if choice.correct %}
                    &#10004;    {# check mark #}
                {% else %}
                    &#10006;    {# cross/X #}
                {% endif %}
            {% endif %}
        </span><br>
    {% endfor %}

    <div style="margin-top: 10px;">
        <input class="LPButton" type="submit" value="Submit">

        {% if answered and 'no' not in answered %}
            <div class="LPButton" style="margin-top: 0;">
                <a href="{% url next_task.do_url task_id=next_task.id course_id=course_id slide_id=slide_id %}">Next Task</a>
            </div>
        {% endif %}

    </div>
</form>

{% if answered %}
    {% if 'no' in answered %}
        <a style="color: darkslateblue; font-size: large; font-weight: bold">Please make a choice!</a>
    {% else %}
        {% if 'incorrect' in answered %}
            <a style="color: red; font-size: large; font-weight: bold">Wrong!</a>
        {% else %}
            {% if len_answered == counter_corr_answ %}
                <a style="color: green; font-size: large; font-weight: bold">Correct!</a>
            {% else %}
                <a style="color: darkorange; font-size: large; font-weight: bold">You are missing some answers!</a>
            {% endif %}
        {% endif %}

        {% if multiple_choice.explanation %}
            <div class="card mx-auto mt-4 border-success">
                <div class="card-tile">Explanation of answer</div>
                <div class="card-body">{{ multiple_choice.explanation }}</div>
            </div>
        {% endif %}

    {% endif %}
{% endif %}

{% endblock content_left %}
