{% extends 'learnpathology/base.html' %}

{% block content %}

<h2>Edit multiple choice</h2>

<form method="post">
    {% csrf_token %}

    <table>
        <tr>{{ taskForm }}</tr>
        <tr>{{ multipleChoiceForm }}</tr>
        {{ choiceFormset.management_form }}
        {% for choiceForm in choiceFormset %}
            {{ choiceForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
            <tr>
                <th>{{ "Choice" }}</th>
                <td>{{ choiceForm.text }} {{ choiceForm.correct }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <input type="submit" value="Update multiple choice">
    <br>

    {% comment %}
    <h3>Annotate WSI</h3>
    Double click where you want to add annotations:
    {% include 'slide/view_wsi_and_annotate.html' with slide=slide  %}
    {% endcomment %}

    <h3>View WSI</h3>
    {% comment %}Double click where you want to add annotations:{% endcomment %}
    {% include 'slide/view_wsi.html' with slide=slide  %}

</form>


{% endblock content %}
