{% extends 'learnpathology/base.html' %}

{% block content %}
<div class="container">
<h1>New multiple choice question</h1>
</div>

<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">
<form class="form" method="post">
    {% csrf_token %}

    <table class="table">
        <tr>{{ taskForm }}</tr>
        <tr>{{ form }}</tr>
        <tr><td>{{ "" }}</td> <th>{{ "Check box if correct" }}</th></tr>
        {{ choiceFormset.management_form }}
        {% for choiceForm in choiceFormset %}
            {{ choiceForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
            <tr>
                <th>{{ "Choice" }}</th>
                <td>{{ choiceForm.text }} {{ choiceForm.correct }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Annotate WSI</h3>
    Double click where you want to add annotations:
    {% include 'slide/view_wsi_and_annotate.html' with slide=slide  %}

    <br>
    <input type="submit" value="Submit">
</form>
</div>
</div>
</div>
{% endblock content %}
