{% extends 'task/new_info_and_annotation.html' %}


{% block task_type %}
Multiple choice
{% endblock task_type %}


{% block task_type_new_url %}
{{ new_url }}
{% endblock task_type_new_url %}


{% block specific_task_type_form %}

{# The tag <form class="form" method="post"> is in 'task/new_info_and_annotation.html' #}
<table class="table">

    <thead class="thead-light">
        <tr><th colspan="2">Multiple choice info</th></tr>
    </thead>
    <tr>
        <th>{{ taskForm.name.label }} (short, decriptive)</th>
        <td>{{ taskForm.name }}</td>
    </tr>
    <tr>
        <th>{{ multipleChoiceForm.question.label }}</th>
        <td>{{ multipleChoiceForm.question }}</td>
    </tr>
    <tr>
        <th>{{ multipleChoiceForm.instructions.label }}</th>
        <td>{{ multipleChoiceForm.instructions }}</td>
    </tr>


    <thead class="thead-light">
        <tr><th colspan="2">Answer alternatives (check box if alternative is correct)</th></tr>
    </thead>
    {{ choiceFormset.management_form }}
    {% for choiceForm in choiceFormset %}
        {{ choiceForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
        <tr>
            <td>{{ "Option" }}</td>
            <td>{{ choiceForm.text }} {{ choiceForm.correct }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock specific_task_type_form %}
