{% extends 'learnpathology/base.html' %}

{% block content %}
<div class="container">
<h1>New multiple choice question</h1>
</div>

<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">

<p>
    Enter the name, question and answers for the multiple choice.
    Add tags and annotate the slide (optional)
</p>

<form class="form" method="post">
    {% csrf_token %}
    {{ taskForm.management_form }}
    <table class="table">
        <thead class="thead-light">
        <tr><th>Multiple choice info</th><th></th></tr>
        </thead>
        <tr>
            <th>{{ taskForm.name.label }} (short, decriptive)</th>
            <td>{{ taskForm.name }}</td>
        </tr>
        <tr>
            <th>{{ multipleChoiceForm.question.label }}</th>
            <td>{{ multipleChoiceForm.question }}</td>
        </tr>
        <tr>
            <th>{{ multipleChoiceForm.instructions.label }}</th>
            <td>{{ multipleChoiceForm.instructions }}</td>
        </tr>
        <tr>
            <th>Is the question about pathology?</th>
            <td>{{ taskForm.pathology }}</td>
        </tr>


        <thead class="thead-light">
        <tr><th>Task metadata and tagging</th><th></th></tr>
        </thead>
        <!-- <tr>{{ taskForm }}</tr> -->
        <tr>
            <th>{{ taskForm.organ_tags.label }}</th>
            <td>{{ taskForm.organ_tags }}</td>
        </tr>
        <tr>
            <th>{{ taskForm.stain_tags.label }}</th>
            <td>{{ taskForm.stain_tags }}</td>
        </tr>
        <tr>
            <th>{{ taskForm.other_tags.label }}</th>
            <td>{{ taskForm.other_tags }}</td>
        </tr>

        <thead class="thead-light">
        <tr>
            <th>Answer alternatives</th>
            <th>Check box if alternative is correct</th>
        </tr>
        </thead>
        {{ choiceFormset.management_form }}
        {% for choiceForm in choiceFormset %}
            {{ choiceForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
            <tr>
                <td>{{ "Option" }}</td>
                <td>{{ choiceForm.text }} {{ choiceForm.correct }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table">
        <thead class="thead-light">
        <tr><th>Annotate WSI</th></tr>
        </thead>
        <tr>
        <td>
            {% include 'slide/view_wsi_and_annotate.html' with slide=slide  %}

            <br>
            <input type="submit" value="Submit">
        </td>
        </tr>
    </table>

</form>


</div>
</div>
</div>
{% endblock content %}
