{% extends "task/do_task_common.html" %}


{% block content %}

    {% block top_content %}
    {% endblock top_content %}

    <div class="card mx-auto text-center" style="width: 90%; height: auto; min-height: 600px;">
    <div class="card-body" style="height: 100%">

        <div class="row ">
            <div class="col-4">
                <div id="contentLeft" style="width: 100%;">
                    {% block content_left %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-8" style="height: 100%;">
                <div id="contentRight" style="width: 100%; height: 600px;">
                    {% if slide %}
                        {% include 'slide/view_wsi_do_task.html' with two_column=1 slide=slide annotated_slide=task.task.annotated_slide %}
                    {% else %}
                        {% include 'slide/view_wsi_do_task.html' with slide=task.task.annotated_slide.slide annotated_slide=task.task.annotated_slide %}
                    {% endif %}
                    {% block content_right %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
    </div>

{% endblock content %}

{% block task_javascript %}
{% endblock task_javascript %}
