{% extends 'learnpathology/base.html' %}
{% load to_class_name %}

{% block content %}
    <div class="container">
        <h1>Tasks</h1>
    </div>

    <div class="card mx-auto text-center" style="width: 90%">
        <div class="card-body">
            <div class="card-text">

                {% if user.is_superuser or user.is_teacher %}
                    <p>
                        To add a new task, go to the
                        <a href="{% url 'slide:browser' %}">slide browser</a>
                        and choose <em>Create new task</em> next to the slide
                    </p>
                {% endif %}
                <p>
                    {#      <div class="LPButton" style="margin-top: 0;">#}
                    {#        <a href="{% url 'multiple_choice:do_random' slide_id=1 %}">Random Question</a>#}
                    {#    </div>#}
                <form class="form">
                    <b>Filter:</b>
                    Organ:
                    <select name="organ[]" multiple class="filter" style="width:20%">
                        {% for tag in organ_tags %}
                            <option value="{{ tag.id }}"{% if tag.id|slugify in selected_organ_tags %}
                                    selected="selected"{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                    Stain:
                    <select name="stain[]" multiple class="filter">
                        {% for tag in stain_tags %}
                            <option value="{{ tag.id }}"{% if tag.id|slugify in selected_stain_tags %}
                                    selected="selected"{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                    Pathology: <input type="checkbox" {% if selected_pathology %}checked="checked"{% endif %}
                                      name="pathology" onchange="this.form.submit();">
                    Histology: <input type="checkbox" {% if selected_histology %}checked="checked"{% endif %}
                                      name="histology" onchange="this.form.submit();">
                    Tag:
                    <select name="tag[]" multiple class="filter">
                        {% for tag in other_tags %}
                            <option value="{{ tag.id }}"{% if tag.id|slugify in selected_other_tags %}
                                    selected="selected"{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </form>
                </p>
                {% if tasks %}
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Attempt task</th>
                            {% if request.user.is_teacher or request.user.is_superuser %}
                                <th>Edit</th>
                                <th>Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for task in tasks %}
                            <tr>
                                {% if task.type == 'multiple_choice' %}
                                    <td>
                                        <a href="{% url 'multiple_choice:do' task_id=task.id course_id=0 %}">{{ task.name }}</a>
                                    </td>
                                    <td>{{ task.type }}</td>
                                    <td><a href="{% url 'multiple_choice:do' task_id=task.id course_id=0 %}">Do task</a>
                                    </td>
                                    {% if request.user.is_teacher or request.user.is_superuser %}
                                        <td><a href="{% url 'multiple_choice:edit' task.id %}">Edit</a></td>
                                    {% endif %}

                                {% elif task.type == 'free_text' %}
                                    <td>
                                        <a href="{% url 'free_text:do' task_id=task.id course_id=0 %}">{{ task.name }}</a>
                                    </td>
                                    <td>{{ task.type }}</td>
                                    <td><a href="{% url 'free_text:do' task_id=task.id course_id=0 %}">Do task</a></td>
                                    {% if request.user.is_teacher or request.user.is_superuser %}
                                        <td><a href="{% url 'free_text:edit' task.id %}">Edit</a></td>
                                    {% endif %}
                                {% endif %}
                                <td><a href="{% url 'task:task_delete' task.id %}">Delete</a></td>

                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>
                        No tasks found with current filter.
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}