{% extends 'learnpathology/single_content_layout.html' %}

{% load static %}


{% block breadcrumb_items %}
    {% if course_id %}
        <li class="breadcrumb-item"><a href="{% url 'course:index' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="#">"Course name"</a></li> <!-- TODO: Use course name -->
        {#        <li class="breadcrumb-item"><a href="#">{{ course.code }} - {{ course.name }}</a></li>#}
        <li class="breadcrumb-item">New task: {{ slide.name }}</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'task:list' %}">Task list</a></li>
        <li class="breadcrumb-item">New task: {{ slide.name }}</li>
    {% endif %}

{% endblock breadcrumb_items %}


{% block search_bar %}
{% endblock search_bar %}


{% block button_row %}
<div class="custom-button" style="">
    {% if course_id %}
        <a href="{% url 'course:view' course_id=course_id %}" style="display: inline-flex;">
    {% else %}
        <a href="{% url 'task:list' %}" style="display: inline-flex;">
    {% endif %}
        <div class="button-icon">
            <span class="iconify" data-icon="fluent:bin-recycle-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
        </div>
        <div style="justify-content: flex-start; align-items: center; display: flex">
            {% if task %}
                <div class="button-text">Cancel & Exit</div>
            {% else %}
                <div class="button-text">Exit & discard task</div>
            {% endif %}
        </div>
    </a>
</div>
{% endblock button_row %}


{% block content %}


{% endblock content %}


{% block javascript %}

$(document).ready(function(){
    collapseSidebar();
});

{% endblock javascript %}
