{% extends 'learnpathology/base.html' %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}


    <div class="container">
        <h1>New Task</h1>
    </div>

    <div class="card mx-auto text-center" style="width: 90%">
        <div class="card-body">
            <div class="card-text">
                Select the type of task ypu want to create
                <div class="row" >
                    <div class="column">
                        <div class="column">
                             <div class="LPButton" style="margin-top: 0; ">
                            <a href="{% url 'multiple_choice:new' slide_id=slide_id course_id=course_id %}">Single/Multiple Choice</a>
                        </div> <br>
                             <div class="LPButton" style="margin-top: 0; ">
                            <a href="{% url 'free_text:new' slide_id=slide_id course_id=course_id %}">Free Text Question</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}