{% extends 'task/new.html' %}


{% block page_title %}
New task: Second step
{% endblock page_title %}


{% block content %}

<div class="card w-100 mx-auto">
<div class="card-body"> <!-- TODO: Instead of card-body, add same padding as on other pages (e.g. image browser) -->

    <form class="form" id="myForm" method="post">
        {% csrf_token %}

{#        <h2>Select task type and slide tabs/panes</h2>#}

        <!-- Navigation buttons/tabs -->
        {% comment %}
        <ul class="nav nav-pills" id="myTabs" style="justify-content: end;">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#step1">Step back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#step2">Next step</a>
            </li>
        </ul>
        {% endcomment %}

        <button id="back_button" class="custom-button">Step back</button>
        <button id="next_button" class="custom-button">Next step</button>


        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
{#            <span class="step"></span>#}
{#            <span class="step"></span>#}
        </div>


        <!-- Tab panes -->
        <div class="tab-content" id="myPanes">

            <div class="tab tab-pane active" id="step1">

                {% comment %}
                <div class="w-100" style="padding-bottom: 12px;">
                    <div class="progress " style="width: 25%; height: 32px; margin-left: auto;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; background-color: var(--color-blue-dark);">
                            1/3 <!-- TODO: Update with current value for each step -->
                        </div>
                    </div>
                </div>
                {% endcomment %}

                <div style="padding: 6px 24px 6px 24px;">
                    <h2>
                        Select the type of task
                    </h2>
                    <h3 style="color: var(--color-blue-dark);">
                        Choose from the options presented below
                    </h3>
                </div>

                <div class="card transparentBackground border-0 text-center">
                <div class="card-text">
                    <div class="row">
                        <div class="column">
                            <div class="column">
                                <div class="radio-toolbar">
                                    <!-- Task type selction -->
                                    <div>
                                        <input type="radio" name="task_type" id="multiple_choice" value="multiple_choice"> <!-- onchange="this.form.submit();"> -->
                                        <label for="multiple_choice" class="body-text">Multiple choice</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="task_type" id="free_text" value="free_text"> <!-- onchange="this.form.submit();"> -->
                                        <label for="free_text" class="body-text">Paragraph/short answer question</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="task_type" id="click_question" value="click_question"> <!-- onchange="this.form.submit();"> -->
                                        <label for="click_question" class="body-text">Click question</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="task_type" id="one_to_one_sort" value="one_to_one_sort"> <!-- onchange="this.form.submit();"> -->
                                        <label for="one_to_one_sort" class="body-text">One-to-one sorting task</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="task_type" id="many_to_one_sort" value="many_to_one_sort"> <!-- onchange="this.form.submit();"> -->
                                        <label for="many_to_one_sort" class="body-text">Many-to-one sorting task</label>
                                    </div>
                                </div>
                                {% comment %}
                                <div class="LPButton" style="margin-top: 0; ">
                                    {% if course_id %}
                                        <a href="{% url 'multiple_choice:new' slide_id=slide_id course_id=course_id %}">Single/Multiple
                                            Choice</a>
                                    {% else %}
                                        <a href="{% url 'multiple_choice:new' slide_id=slide_id %}">Single/Multiple
                                            Choice</a>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="LPButton" style="margin-top: 0; ">
                                    {% if course_id %}
                                        <a href="{% url 'free_text:new' slide_id=slide_id course_id=course_id %}">Free Text
                                            Question</a>
                                    {% else %}
                                        <a href="{% url 'free_text:new' slide_id=slide_id %}">Free Text Question</a>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="LPButton" style="margin-top: 0; ">
                                    {% if course_id %}
                                        <a href="{% url 'click_question:new' slide_id=slide_id course_id=course_id %}">Click
                                            Question</a>
                                    {% else %}
                                        <a href="{% url 'click_question:new' slide_id=slide_id %}">Click Question</a>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="LPButton" style="margin-top: 0; ">
                                    {% if course_id %}
                                        <a href="{% url 'one_to_one:new' slide_id=slide_id course_id=course_id %}">One-to-One
                                            Sorting Task</a>
                                    {% else %}
                                        <a href="{% url 'one_to_one:new' slide_id=slide_id %}">One-to-One Sorting Task</a>
                                    {% endif %}
                                </div>
                               <br>
                                <div class="LPButton" style="margin-top: 0; ">
                                    {% if course_id %}
                                        <a href="{% url 'many_to_one:new' slide_id=slide_id course_id=course_id %}">Many-to-One
                                            Sorting Task</a>
                                    {% else %}
                                        <a href="{% url 'many_to_one:new' slide_id=slide_id %}">Many-to-One Sorting Task</a>
                                    {% endif %}
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!-- Navigation buttons/tabs -->
                {% comment %}
                <a href="{% if course_id %}{% url 'course:view' course_id=course_id active_tab='tasks' %}{% else %}{% url 'task:list' %}{% endif %}">
                    <div class="custom-button" id="cancelButton">Cancel</div>
                </a>
{#                <button>Step back</button>#}
                <button onclick="activateStep('step2_select_slide');">Next step</button>
                <a class="custom-button step2 btn btn-default" href="#">Next step</a>
                <script>
                    $(document).ready(function(){
                        $('.step2').click(function(){
                            console.log('go to step 2');
                            $('.nav-tabs div[href="#step2"]').tab('show');
                        });
                    });
                </script>

                <a>
                    <div class="custom-button" id="cancelButton">Cancel</div>
                </a>
                <ul class="nav nav-pills" style="justify-content: end;">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#step1">Cancel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#step2">Next</a>
                    </li>
                </ul>
                {% endcomment %}

            </div>

            <div class="tab tab-pane" id="step2">

                {% comment %}
                {% endcomment %}
                <div class="w-100" style="padding-bottom: 12px;">
                    <div class="progress " style="width: 25%; height: 32px; margin-left: auto;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; background-color: var(--color-blue-dark);">
                            1/3 <!-- TODO: Update with current value for each step -->
                        </div>
                    </div>
                </div>

                <div style="padding: 6px 24px 6px 24px;">
                    <h2>
                        Select image for the task
                    </h2>
                    <h3 style="color: var(--color-blue-dark);">
                        Check a slide or confirm that the one you chose is selected. Press Next.
                    </h3>
                </div>

                {% if course_id %}
                    {% if slide_id %}
                        <!-- TODO: List only slides in course, and highlight the slide with ID slide_id -->
                        {% include 'task/slide_selection.html' with slides_in_course=slide_id %}
                    {% else %}
                        <!-- TODO: List only slides in course -->
                        {% include 'task/slide_selection.html' %}
                    {% endif %}
                {% else %}
                    {% if slide_id %}
                        <!-- TODO: List all slides, and highlight the slide with ID slide_id -->
                        {% include 'task/slide_selection.html' with slides_in_course=slide_id %}
                    {% else %}
                        <!-- TODO: List all slides -->
                        {% include 'task/slide_selection.html' %}
                    {% endif %}
                {% endif %}

                <!-- Navigation buttons/tabs -->
                {% comment %}
                <button class="custom-button" onclick="this.form.submit();">Next</button>
                <a href="{% if course_id %}{% url 'course:view' course_id=course_id active_tab='tasks' %}{% else %}{% url 'task:list' %}{% endif %}">
                    <div class="custom-button" id="cancelButton">Cancel</div>
                </a>
                <button onclick="activateStep('step1')">Step back</button>
                <button onclick="this.form.submit();">Next step</button>

                {% endcomment %}

            </div>
        </div>

        {% comment %}
        <!-- Nav tabs -->
        <ul class="nav nav-pills" style="justify-content: end;">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#step1">Go back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#step2">Select image</a>
            </li>
            <input type="submit" value="Submit">
        </ul>
        {% endcomment %}

    </form>


</div>
</div>


<style>

/* Style the input fields */
/*input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}*/
/* Mark input boxes that gets an error on validation: */
/*input.invalid {
  background-color: #ffdddd;
}*/

/* Hide all steps by default: */
.tab {
  display: none;
}
.tab-pane {
  display: none;
}

.step { /* Make circles that indicate the steps of the form: */
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {  /* Mark the active step: */
  opacity: 1;
}
.step.finish {  /* Mark the steps that are finished and valid: */
  background-color: #04AA6D;
}
</style>


<script>

    $('#back_button').click(function(event) {
        event.preventDefault();
        console.log('#back_button clicked');
        console.log($('#mytabs a[class="active"]'));
        console.log('$(\'#mytabs a[href="#step1"]\').hasClass("active") = ' + $('#mytabs a[href="#step1"]').hasClass('active'));

        if ($('#mytabs a[href="#step1"]').hasClass('active')) {
            // If type selection active, cancel making new task. Redirect to task list
            // TODO: Redirect to task/list or course/task/list
            window.location.href = "{% url 'task:list' %}";
        } else if ($('#mytabs a[href="#step2"]').hasClass('active')) {
            // If slide selection active, go back to type selection
            $('#mytabs a[href="#step1"]').tab('show');
        } else {
            console.log('Undefined behaviour for #back_button');
        }
    })

    $('#next_button').click(function(event) {
        event.preventDefault();
        console.log('#next_button clicked');
        // If type selection active, go to slide selection
        // If slide selection active, submit form and go to information/annotation
        {#$('#mytabs a[href="#step1"]').tab('show');#}
    })



    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form ...
      var x = document.getElementsByClassName("tab-pane");
      x[n].style.display = "block";
      // ... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
      } else {
        document.getElementById("prevBtn").style.display = "inline";
      }
      if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Submit";
      } else {
        document.getElementById("nextBtn").innerHTML = "Next";
      }
      // ... and run a function that displays the correct step indicator:
      fixStepIndicator(n)
    }

    function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab-pane");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form... :
      if (currentTab >= x.length) {
        //...the form gets submitted:
        document.getElementById("myForm").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }

    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      x = document.getElementsByClassName("tab-pane");
      y = x[currentTab].getElementsByTagName("input");
      // A loop that checks every input field in the current tab:
      /*for (i = 0; i < y.length; i++) {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:
          y[i].className += " invalid";
          // and set the current valid status to false:
          valid = false;
        }
      }*/
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
      }
      return valid; // return the valid status
    }

    function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      //... and adds the "active" class to the current step:
      x[n].className += " active";
    }





</script>

{% endblock content %}


{% block javascript %}

    $(document).ready(function(){
        collapseSidebar();
    });

{% endblock javascript %}
