{% extends 'task/new.html' %}


{% block page_title %}
    {% if task %}Edit task{% else %}New task: Second step{% endif %}
{% endblock page_title %}


{% block content %}

<div class="card w-100 mx-auto">
<div class="card-body"> <!-- TODO: Instead of card-body, add same padding as on other pages (e.g. image browser) -->
    {% if task %}   <!-- If task is passed, task is being edited -->
    <form class="form" method="post" id="taskForm" onsubmit="return validateForm();" action="/{{ task.type }}/edit/{{ task.id }}/{% if course_id %}{{ course_id }}{% endif %}">
    {% else %}  <!-- If task is not passed, task is being created -->
    <form class="form" method="post" id="taskForm" onsubmit="return validateForm();" action="{% block task_type_new_url %}{% endblock task_type_new_url %}/{{ slide.id }}/{% if course_id %}{{ course_id }}{% endif %}">
    {% endif %}

        {% csrf_token %}
        {{ taskForm.management_form }}

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" class="custom-button" id="prevBtn" onclick="nextPrev(-1)">
                    <div style="display: inline-flex;">
                        <div class="button-icon">
                            <span class="iconify" data-icon="fluent:arrow-left-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
                        </div>
                        <div style="justify-content: flex-start; align-items: center; display: flex">
                            <div class="button-text">Previous</div>
                        </div>
                    </div>
                </button>
                <button type="button" class="custom-button" id="nextBtn" onclick="nextPrev(1)">
                    <div style="display: inline-flex;">
                        <div class="button-icon">
                            <span class="iconify" data-icon="fluent:arrow-right-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
                        </div>
                        <div style="justify-content: flex-start; align-items: center; display: flex">
                            <div class="button-text">Next</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            {% if task %}
                <div class="tab tab-pane active" id="step1">
            {% else %}
                <div class="tab tab-pane active" id="step3">
            {% endif %}
                <div class="w-100" style="padding-bottom: 12px;">
                    <div class="progress " style="width: 25%; height: 32px; margin-left: auto;">
                        {% if task %}
                            <div class="progress-bar" role="progressbar" style="width: 50%; background-color: var(--color-blue-dark);">
                                1/2
                            </div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: 75%; background-color: var(--color-blue-dark);">
                                3/4
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div style="padding: 6px 24px 6px 24px;">
                    <h2>
                        {% block task_type %}{% endblock task_type %}: Task information
                    </h2>
                    <h3 style="color: var(--color-blue-dark);">
                        Fill in the descriptive fields of the task
                    </h3>
                </div>

                <div class="card transparentBackground w-100 border-0 text-center">
                <div class="card-body">
                <div class="card-text">
                    {% block specific_task_type_form %}
                    {% endblock specific_task_type_form %}
                    <table class="table">
                        <thead class="thead-light">
                            <tr><th colspan="2">Task metadata and tagging</th></tr>
                        </thead>
                       <tr>
        <th>
            {{ taskForm.pathology.label }}
                    </th>
      <td>
    Histology
    <div class="form-check form-switch" style="display: inline-block;">
        <input class="form-check-input" type="checkbox" id="toggleAnnotationButton" name="pathology"{% if task.pathology %} checked {% endif %}>
        <label class="form-check-label" for="toggleAnnotationButton"></label>
    </div>

    Pathology
</td>
    </tr>
                        <tr>
                            <th>{{ taskForm.organ_tags.label }}</th>
                            <td>{{ taskForm.organ_tags }}</td>
                        </tr>
                        <tr>
                            <th>{{ taskForm.other_tags.label }}</th>
                            <td>{{ taskForm.other_tags }}</td>
                        </tr>
                    </table>
                </div>
                </div>
                </div>

            </div>

            {% if task %}
                <div class="tab tab-pane" id="step2">
            {% else %}
                <div class="tab tab-pane" id="step4">
            {% endif %}

                <div class="w-100" style="padding-bottom: 12px;">
                    <div class="progress " style="width: 25%; height: 32px; margin-left: auto;">
                        {% if task %}
                            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: var(--color-blue-dark);">
                                2/2
                            </div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: var(--color-blue-dark);">
                                4/4
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div style="padding: 6px 24px 6px 24px;">
                    <h2>
                        Annotate WSI
                    </h2>
                    <h3 style="color: var(--color-blue-dark);">
                        Add the necessary annotation needed for the task.
                    </h3>
                </div>
        {% if clickQuestionForm %}
            {% include 'slide/view_wsi_and_edit_annotations.html' with slide=slide annotations=annotations tasktype='click_question' %}
        {% else %}
                {% include 'slide/view_wsi_and_edit_annotations.html' with slide=slide annotations=annotations tasktype=task.type %}
        {% endif %}
            </div>
        </div>

    </form>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" class="custom-button" id="prevBtnBottom" onclick="nextPrev(-1)">
                <div style="display: inline-flex;">
                    <div class="button-icon">
                        <span class="iconify" data-icon="fluent:arrow-left-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; display: flex">
                        <div class="button-text">Previous</div>
                    </div>
                </div>
            </button>
            <button type="button" class="custom-button" id="nextBtnBottom" onclick="nextPrev(1)">
                <div style="display: inline-flex;">
                    <div class="button-icon">
                        <span class="iconify" data-icon="fluent:arrow-right-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; display: flex">
                        <div class="button-text">Next</div>
                    </div>
                </div>
            </button>
        </div>
    </div>

</div>
</div>


<style>

/* Hide all steps by default: */
.tab {
  display: none;
}
.tab-pane {
  display: none;
}

</style>


<script>

    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab


    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab-pane");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
            document.getElementById("prevBtnBottom").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
            document.getElementById("prevBtnBottom").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").children[0].children[1].children[0].innerHTML = "Submit";
            document.getElementById("nextBtnBottom").children[0].children[1].children[0].innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").children[0].children[1].children[0].innerHTML = "Next";
            document.getElementById("nextBtnBottom").children[0].children[1].children[0].innerHTML = "Next";
        }
    }

function nextPrev(n) {
    // Get all tabs
    var x = document.getElementsByClassName("tab-pane");

    // Hide the current tab
    x[currentTab].style.display = "none";

    // Update current tab based on direction (n)
    currentTab += n;

    // Check if we're at the end of the tabs
    if (currentTab >= x.length) {
        // Trigger validation before submitting
        if (validateForm()) { // Call validateForm to ensure all fields are correct
            document.getElementById("taskForm").submit();
        } else {
            // If validation fails, reset currentTab and show the tab with errors
            currentTab -= n;
            x[currentTab].style.display = "block";
            return false; // Prevent further execution
        }
    } else {
        // If not at the end, display the updated current tab
        showTab(currentTab);
    }
}

function validateForm() {
        let isValid = true;
        const errorMessages = [];


    const taskName = document.getElementById('id_name');
    if (!taskName.value) {
        errorMessages.push('Question name is required.');
        isValid = false;
    }
    {% if freeTextForm or multipleChoiceForm or clickQuestionForm %}
        const taskQuestion = document.getElementById('id_question');
        if (!taskQuestion.value) {
            errorMessages.push('Question is required.');
            isValid = false;
        }
        const taskInstructions = document.getElementById('id_instructions');
        if (!taskInstructions.value) {
            errorMessages.push('Instructions is required.');
            isValid = false;
    }
    {% else %}
        let annotationTaskAnnotation = anno.getAnnotations();
        if (annotationTaskAnnotation.length <= 1) {
            errorMessages.push('At least two annotations are required.');
            isValid = false;
        }
    {% endif %}



        {% if freeTextForm %}

            const freeTextAnswer = document.getElementById('id_answer');
            if (!freeTextAnswer.value) {
                errorMessages.push('Answer is required.');
                isValid = false;
            }
        {% endif %}

        {% if clickQuestionForm %}

            let annotations = anno.getAnnotations();
            if (annotations.length === 0){
                errorMessages.push('At least one annotation is required.');
                isValid = false;
            }


        {% endif %}

        {% if multipleChoiceForm %}

            const optionIds = ['id_form-0-text', 'id_form-1-text', 'id_form-2-text', 'id_form-3-text'];
            let optionCount = 0;
            let isChecked = false;

            optionIds.forEach(id => {
                const option = document.getElementById(id);
                if (option && option.value.trim()) {
                    optionCount += 1;

                    const checkbox = document.getElementById(id.replace('text', 'correct'));
                    if (checkbox.checked) {
                        isChecked = true;
                    }
                }
            });

            if (optionCount < 2) {
                errorMessages.push('At least two options are required.');
                isValid = false;
            }

            if (!isChecked) {
                errorMessages.push('At least one correct option must be selected.');
                isValid = false;
            }
        {% endif %}

    // Display error messages and prevent submission if not valid
        if (!isValid) {
            alert(errorMessages.join('\n'));
            return false;
        }
        console.log("Form validation passed");
        return true;
    }

</script>

{% endblock content %}


{% block javascript %}

$(document).ready(function(){
    collapseSidebar();
});

{% endblock javascript %}
