{% load to_class_name %}
{% load static %}

{% block courseTabContent %}
{# This content is displayed within a containing <div class="card">...</div> #}

    <div class="card-body">
        {% if tasks %}

            {% if request.user.is_teacher or request.user.is_superuser %}
                <div class="LPButton">
                    <a href="{% url 'course:task_selection' course.id %}">Browse existing tasks</a>
                </div>
                <div class="LPButton">
                    <a href="#" onclick="activateTab('slides');">Add new task</a>
                </div>
            {% endif %}
            <br>
            <div class="card-text">
                <table class="table">
                    <thead class="thead-light"><tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Attempt task</th>
                            {% if request.user.is_teacher or request.user.is_superuser %}
                                <th>Edit</th>
                                <th>Remove from course</th>
                            {% endif %}
                    </tr></thead>
                    {% for task in tasks %}
                        <tr>
                        <td><a href="{% url task.do_url task_id=task.id course_id=course.id %}">{{ task.name }}</a></td>
                        <td>{{ task.type }}</td>
                        <td><a class="LPButton btn remove_button" style="margin: 0;" href="{% url 'multiple_choice:do' task_id=task.id course_id=course.id %}">Do task</a></td>
                        {% if request.user.is_teacher or request.user.is_superuser %}
                            <td><a class="LPButton btn remove_button" style="margin: 0;" href="{% url 'multiple_choice:edit' task.id %}">Edit</a></td>
                            <td><a class="LPButton btn remove_button" style="margin: 0;"
                                   data-course_id="{{ course.id }}" data-model_name="{{ task | to_class_name }}" data-instance_id="{{ task.id }}">
                                Remove
                            </a></td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% else %}

            <div class="card-text" style="text-align: left;">
                No tasks have been added to this course yet.
                {% if request.user.is_teacher or request.user.is_superuser %}
                You can add some now!
                <br>
                <div class="LPButton">
                    <a href="{% url 'course:task_selection' course.id %}">Browse existing tasks</a>
                </div>
                <div class="LPButton">
                    <a href="#" onclick="activateTab('slides');">Add new task</a>
                </div>
                {% endif %}
            </div>

        {% endif %}

    </div>

{% endblock courseTabContent %}
