# Django settings
SECRET_KEY=
DEBUG=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
APPEND_SLASH=

# Data settings
DATA_DIR=
DATABASE_DIR=

# Feide login
USE_FEIDE_LOGIN=

# Optimization
USE_TILE_CACHE=
USE_TURBOJPEG=
USE_IMAGE_SHARPENING=