{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Learn Pathology</title>
    <link rel="stylesheet" href="{% static 'slide/style.css' %}">
</head>
<body>
<main>
    <h1>Learn Pathology Prototype</h1>

    {% if request.user.is_authenticated %}
        <p>
            {% if request.user.is_teacher %}
            Logged in as teacher
            {% elif request.user.is_student %}
            Logged in as student
            {% else %}
            Logged in as admin
            {% endif %}
            {{ request.user.username }}.
        </p>
        <p>
            Menu:
            {% if request.user.is_teacher or request.user.is_superuser %}
            <a href="{% url 'slide:list' %}">Images</a> -
            {% endif %}
            <a href="{% url 'task_list' %}">Tasks</a> -
            {% if request.user.is_superuser %}
            <a href="/admin/">Admin</a> -
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        </p>
    {% endif %}

{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
{% endif %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
