{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LearnPathology</title>
    <link rel="stylesheet" href="{% static 'slide/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js" integrity="sha512-tVYBzEItJit9HXaWTPo8vveXlkK62LbA+wez9IgzjTmFNLMBO1BEYladBw2wnM3YURZSMUyhayPCoLtjGh84NQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'slide/filter.js' %}"></script>
</head>
<body>
<main>
    <h1>LearnPathology</h1>

    {% if request.user.is_authenticated %}
        <p>
            {% if request.user.is_teacher %}
            Logged in as teacher
            {% elif request.user.is_student %}
            Logged in as student
            {% else %}
            Logged in as admin
            {% endif %}
            {{ request.user.username }}.
        </p>
        <p>
            Menu:
            {% if request.user.is_teacher or request.user.is_superuser %}
            <a href="{% url 'course:index' %}">Courses</a> -
            {% endif %}
            {% if request.user.is_teacher or request.user.is_superuser %}
            <a href="{% url 'slide:list' %}">Images</a> -
            {% endif %}
            <a href="{% url 'task_list' %}">Tasks</a> -
            <a href="{% url 'tag:index' %}">Tags</a> -
            {% if request.user.is_superuser %}
            <a href="/admin/">Admin</a> -
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        </p>
    {% endif %}

{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
{% endif %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
