{% extends 'learnpathology/base.html' %}
{% load static %}
{% block content %}

    <div class="container text-center" style="margin-top: 2rem; margin-bottom: 2rem;">
        <img src="{% static 'learnpathology/images/logo_v0.png' %}" alt="LearnPathology logo" style="max-width: 400px;align-self: center">
    </div>

    <h2 class="text-center" style="align-self: center;">Welcome to LearnPathology. The AICAN online learning platform</h2>
    {% if request.user.is_superuser or request.user.is_teacher or request.user.is_uploader %}
    <table id="frontpage-table">
        <tr>
            <td>Current logged in users</td>
            <td>{{ active_users }}</td>
        </tr>
        {% if feide_users %}
        <tr>
            <td>Feide users registered</td>
            <td>{{ feide_users }}</td>
        </tr>
        <tr>
            <td>Non-Feide users registered</td>
            <td>{{ users }}</td>
        </tr>
        {% else %}
        <tr>
            <td>Users registered</td>
            <td>{{ users }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Whole slide images</td>
            <td>{{ images }}</td>
        </tr>
        <tr>
            <td>Annotations</td>
            <td>{{ annotations }}</td>
        </tr>
        <tr>
            <td>Tasks</td>
            <td>{{ tasks }}</td>
        </tr>
        <tr>
            <td>Courses</td>
            <td>{{ courses }}</td>
        </tr>
    </table>
    {% endif %}

{% endblock %}

{% block javascript %}

    // Ensure sidebar is expanded correctly
$(document).ready(function(){
    collapseSidebar();
    toggleSidebar();
});

{% endblock javascript %}