{% extends 'learnpathology/base.html' %}

{% block content %}
<h1>Privacy information - LearnPathology</h1>
<div style="text-align: left">
<p>
By logging into this system, you accept that a user account is created with your name, email and username
in our database.
If you wish to have your account deleted, please contact us.
</p>

This system stores cookies in your browser to function properly, a description of the cookies used on this website is found below.
If you wish to delete cookies stored in your browser you can do so in your browser:
<ul>
    <li><a href="https://support.google.com/chrome/answer/95647">Google Chrome</a></li>
    <li><a href="https://support.microsoft.com/en-us/microsoft-edge/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Microsoft Edge</a></li>
    <li><a href="http://windows.microsoft.com/nb-no/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer 11</a></li>
    <li><a href="http://windows.microsoft.com/nb-no/internet-explorer/delete-manage-cookies#ie=ie-10">Internet Explorer 10</a></li>
    <li><a href="http://windows.microsoft.com/nb-no/internet-explorer/delete-manage-cookies#ie=ie-9">Internet Explorer 9</a></li>
    <li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites-stored&redirectlocale=en-US">Mozilla Firefox</a></li>
    <li><a href="http://support.apple.com/kb/HT1677?viewlocale=no_NO">Apple Safari</a></li>
    <li><a href="http://help.opera.com/Windows/8.51/nb/cookies.html">Opera</a></li>
</ul>

<h1>Cookies Description</h1>
<p>
    The following cookies are used on the LearnPathology webpage:
</p>

<h2>Name: csrftoken </h2>
<strong>Purpose:</strong> Security protection against <a href="https://docs.djangoproject.com/en/3.2/ref/csrf/">Cross Site Request Forgeries</a>.<br>
<strong>Duration:</strong> 1 year<br>
<strong>Classification:</strong> Mandatory<br>
<strong>Storage type:</strong> Cookie<br>

<h2>Name: sessionid </h2>
<strong>Purpose:</strong> A cookie used to keep you logged in.<br>
<strong>Duration:</strong> 2 weeks<br>
<strong>Classification:</strong> Mandatory<br>
<strong>Storage type:</strong> Cookie<br>

<h2>Name: message </h2>
<strong>Purpose:</strong> Store system messages.<br>
<strong>Duration:</strong> Until displayed<br>
<strong>Classification:</strong> Mandatory<br>
<strong>Storage type:</strong> Cookie<br>

<h2>Name: iconify0, iconify-count, iconify-version </h2>
<strong>Purpose:</strong> iconify cache<br>
<strong>Duration:</strong> -<br>
<strong>Classification:</strong> Mandatory<br>
<strong>Storage type:</strong> Local storage<br>

<h2>Name: theme</h2>
<strong>Purpose:</strong> Store system messages.<br>
<strong>Duration:</strong> Until displayed<br>
<strong>Classification:</strong> Preference<br>
<strong>Storage type:</strong> Local storage<br>

</div>

{% endblock %}