{% extends "learnpathology/base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>{{ task.question }}</h1>
                <p>{{ task.instructions }}</p>
            </div>
            <div class="col-4">
                <div class="LPButton" style="margin-top: 0; ">
                    {% if course_id == 0 %}
                        <a href="{% url 'task:list' %}">Task Overview</a>
                    {% else %}
                        <a href=" {% url 'course:view' course_id=course_id active_tab='tasks' %}">Back to course</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-auto text-center" style="width: 90%; height: 100%; ">
        <div class="card-body" style="height: 100%">
            <div class="row">

                <div class="row">

                    <div class="col">

                        <ul class="list-group " id="fixed-list">

                            {% for pair in task.sortingpair_set.all %}
                                <li class="list-group-item ui-state-default ui-state-disabled disabled">{{ pair.fixed }}</li>

                            {% endfor %}</ul>
                    </div>

                    <div class="col">
                        <form id="my-form" method="POST">
                            {% csrf_token %}
                            <ul class="list-group sortable" id="sortable-list">

                                {% for pair in task.sortingpair_set.all %}
                                    <li class="list-group-item" id="{{ forloop.counter }}">
                                        {{ pair.draggable }}</li>


                                {% endfor %}</ul>
                            <br>

                            <input type="submit" value="Submit">
                              <div class="LPButton" style="margin-top: 0; ">
                        <a href=" {% url ''|add:next_task_type|add:':do' task_id=next_task_id course_id=course_id %}">Next Task</a>

                </div>
                            <div id="mode" data-mode="{{ mode }}"></div>


                        </form>
                    </div>
                </div>

            </div>


            <br>

            {% include 'slide/view_wsi.html' with slide=task.task.annotated_slide.slide annotated_slide=task.task.annotated_slide %}


        </div>
    </div>



    <script>
        viewer.addHandler('viewport-change', updateTextLocation);
        viewer.addHandler('tile-drawing', updateTextLocation);

        var mode = document.querySelector('#mode').dataset.mode;
        var idOrder = JSON.parse("{{id_order}}");
        var answerOrder = JSON.parse("{{answer_order}}");

        window.addEventListener('DOMContentLoaded', function () {
            if (mode === 'get') {
                console.log('Shuffel List.')
                shuffleList()
            }
            if (mode === 'post') {
                console.log(idOrder)
                console.log('Dont shuffel List.')
                rearrangeList(idOrder)
                colorAnswers(idOrder, answerOrder)
            }

        })
        addEventListener("resize", () => {
        });

        onresize = () => {
            timer = setTimeout(function () {

                updateTextLocation();

            }, 20);
        };

        function shuffleList() {
            var ul = document.querySelector('#sortable-list');
            for (var i = ul.children.length; i >= 0; i--) {
                ul.appendChild(ul.children[Math.random() * i | 0]);
            }
        }

        function rearrangeList(order) {
            var list = document.getElementById("sortable-list");
            var items = list.getElementsByTagName("li");
            var itemsArr = [];

            // Create a new array with the items in the desired order
            for (var i = 0; i < order.length; i++) {
                for (var j = 0; j < items.length; j++) {
                    if (items[j].getAttribute("id") == order[i]) {
                        itemsArr.push(items[j]);
                        break;
                    }
                }
            }

            // Append the sorted items to the list
            for (var i = 0; i < itemsArr.length; i++) {
                list.appendChild(itemsArr[i]);
            }
        }

        function colorAnswers(idOrder, answerOrder) {
            var list = document.getElementById("sortable-list");
            var items = list.getElementsByTagName("li");

            for (var i = 0; i < items.length; i++) {
                var itemId = parseInt(items[i].getAttribute("id"));
                if (idOrder.includes(itemId)) {
                    if (answerOrder[idOrder.indexOf(itemId)]) {
                        items[i].style.color = "green";
                        items[i].innerHTML += " &#10004";
                    } else {
                        items[i].style.color = "red";
                        items[i].innerHTML += " &#10006;";
                    }
                }
            }
        }

        function updateTextLocation(event) {

            let arrow_overlays = $("[id^=right-arrow-overlay-]")
            let text_overlays = $("[id^=arrow-text-overlay-]")

            for (let i = 0; i < arrow_overlays.length; i++) {

                let arrowElement = arrow_overlays[i];
                let textElement = text_overlays[i];

                let arrowX = parseFloat(arrowElement.style.left);
                let arrowY = parseFloat(arrowElement.style.top);

                let viewportPoint = viewer.viewport.pointFromPixel(new OpenSeadragon.Point(arrowX - 5, arrowY + 15));
                viewer.updateOverlay(textElement, viewportPoint);
            }
        }


        var sortableList = document.querySelector('.sortable');
        var sortable_list = new Sortable(sortableList);

        // Capture the order of the list items on form submission
        var myForm = document.querySelector('#my-form');
        myForm.addEventListener('submit', function (event) {
            var itemIds = [];
            var listItems = document.querySelectorAll('.sortable li');
            for (var i = 0; i < listItems.length; i++) {
                itemIds.push(listItems[i].getAttribute('id'));
            }
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'item_ids';
            input.value = itemIds;
            myForm.appendChild(input);
        });

    </script>
{% endblock content %}
