{% extends 'task/new_info_and_annotation.html' %}


{% block task_type %}
One-to-one sorting
{% endblock task_type %}


{% block task_type_new_url %}
{{ new_url }}
{% endblock task_type_new_url %}


{% block specific_task_type_form %}

<table class="table">

    <thead class="thead-light">
        <tr><th colspan="2">Task info</th></tr>
    </thead>
    <tr>
        <th>{{ taskForm.name.label }} (short, decriptive)</th>
        <td>{{ taskForm.name }}</td>
    </tr>
    <tr>
        <th>{{ oneToOneForm.question.label }}</th>
        <td>{{ oneToOneForm.question }}</td>
    </tr>
    <tr>
        <th>{{ oneToOneForm.instructions.label }}</th>
        <td>{{ oneToOneForm.instructions }}</td>
    </tr>


    <thead class="thead-light">
        <tr><th colspan="2">Answer pairs</th></tr>
    </thead>
    {{ sortingPairFormSet.management_form }}

    <tr>
        <td>{{ 'Input for fixed column' }}</td>
        <td>{{ 'Input for draggable column' }}</td>
    </tr>
    {% for pairForm in sortingPairFormSet %}
        {{ pairForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
        <tr>
            <td>{{ pairForm.fixed }}</td>
            <td>{{ pairForm.draggable }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock specific_task_type_form %}
