* {
    font-family: Arial, Verdana, sans-serif;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.75);
    outline: 2px solid white;
    color: rgb(0,100,200);
    font-size: 20px;
}

main {
    margin: 0px auto;
    width: 800px;
}