/** {*/
/*    font-family: Arial, Verdana, sans-serif;*/
/*}*/
.success {
    color: green;
    background-color: rgb(200, 255, 200);
    border: 1px solid rgb(0, 120, 0);
    padding: 10px;
}
.info {
    color: yellow;
    background-color: rgb(200, 255, 200);
    border: 1px solid rgb(0, 120, 0);
    padding: 10px;
}
.error {
    color: red;
    background-color: rgb(200, 255, 200);
    border: 1px solid rgb(120, 0, 0);
    padding: 10px;
}


.overlay {
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid white;
    color: rgb(0,100,200);
    font-size: 20px;
}
main {
    margin: 0px auto;
    width: 800px;
}

td {
    padding: 6px 10px 6px 10px;
}

