
<div class="slideGridViewCard card">

    {# Image display #}
    <a class="cardImageHeader card border-0" href="{% url 'slide:view_full' slide.id %}">
        <div class="card transparentBackground border-0 w-100 h-100">
            <div class="headerImageContainer card">
                <img class="headerImage" src="/slide/thumbnails/{{ slide.id }}.jpg" alt="WSI thumbnail for {{ slide.name }}">
                <!-- Use below line to crop image to fit the header container -->
                {# <img class="headerImage croppedImage" src="/slide/thumbnails/{{ slide.id }}.jpg" alt="WSI thumbnail"> #}
            </div>
        </div>
    </a>

    {# Card content (slide name, description, buttons, ...) #}
    <div class="gridCardContent">
        <a class="card noLinkStyling border-0" href="{% url 'slide:view_full' slide.id %}">
            <h5 class="card-title">{{ slide.name }}</h5>
            <p class="card-subtitle" style="font-size: medium;">{{ slide.description }}</p>
            {% block gridCardQuestions %}
            {% endblock gridCardQuestions %}
        </a>
    </div>

</div>
