{% extends 'slide/grid_cards/card_base.html' %}

{% block gridCardQuestions %}

    {% if request.user.is_teacher or request.user.is_superuser %}
        {% if course_id %}
            <div class="card-content" style="padding-top: 5px"><a class="LPButton btn" href="{% url 'task:new' slide_id=slide.id course_id=course_id %}" style="margin: 0;">Create new task</a></div>
        {% else %}
            <div class="card-content" style="padding-top: 5px"><a class="LPButton btn" href="{% url 'task:new' slide_id=slide.id %}" style="margin: 0;">Create new task</a></div>
        {% endif %}
    {% endif %}

{% endblock gridCardQuestions %}
