{% extends 'task/new_or_edit_step2_add_info_and_annotate.html' %}


{% block task_type %}
Sorting
{% endblock task_type %}


{% block task_type_new_url %}
{{ new_url }}
{% endblock task_type_new_url %}


{% block specific_task_type_form %}

<table class="table">

    <thead class="thead-light">
        <tr><th colspan="2">Task info</th></tr>
    </thead>
    <tr>
        <th>{{ taskForm.name.label }} (short, descriptive)</th>
        <td>{{ taskForm.name }}</td>
    </tr>
    <tr>
        <th>{{ sortingForm.question.label }}</th>
        <td>{{ sortingForm.question }}</td>
    </tr>
    <tr>
        <th>{{ sortingForm.instructions.label }}</th>
        <td>{{ sortingForm.instructions }}</td>
    </tr>


    <thead class="thead-light">
        <tr><th colspan="2">Answer pairs</th></tr>
    </thead>
    {{ PairFormSet.management_form }}

    <tr>
        <td>{{ 'Input for fixed column' }}</td>
        <td>{{ 'Input for draggable column' }}</td>
    </tr>
    {% for pairForm in PairFormSet %}
        {{ pairForm.id }} <!-- Need to explicitly render form id when not iterating through all fields -->
        <tr>
            <td>{{ pairForm.fixed }}</td>
            <td>{{ pairForm.draggable }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock specific_task_type_form %}
