{% extends "learnpathology/base.html" %}

{% load static %}
{% block content %}

    <div class="container text-center" style="margin-top: 2rem; margin-bottom: 2rem;">
        <img src="{% static 'learnpathology/images/logo_v0.png' %}" alt="LearnPathology logo" style="max-width: 400px;align-self: center">
    </div>

    <h2 class="text-center" style="align-self: center;">Welcome to LearnPathology. The AICAN online learning platform</h2>
    <div class="container text-center">
        <p>
             To use this system you have to login.<br>
             Students and teachers can login using their regular university account using the <a href="https://www.feide.no/">FEIDE</a> system.<br>
             Others can login with a username provided by an administrator.
        </p>
          <p>
            <strong>
                By logging into this system, you accept that a user account is created with your name, email and username
                in our database. This system uses cookies in your browser to function properly.
                If you wish to have your account deleted, please contact us.
                <a href="{% url 'privacy' %}">See here for more privacy and cookie information.</a>
            </strong>
        </p>
        <p>
            <a href="{% url 'dataporten_login' %}" class="btn btn-primary btn-lg">Login with FEIDE (Students & Teachers)</a>
            <strong>OR</strong>
            <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Login with username and password</a>
        </p>

    </div>

{% endblock %}

