{% extends 'task/new_info_and_annotation.html' %}


{% block task_type %}
Many-to-one sorting
{% endblock task_type %}


{% block task_type_new_url %}
{{ new_url }}
{% endblock task_type_new_url %}


{% block specific_task_type_form %}

{{ manyToOneForm.management_form }}
{{ column_formset.management_form }}

<table class="table">
    <thead class="thead-light">
    <tr>
        <th colspan="6">Task info</th>
    </tr>
    </thead>
    <tr>
        <th>{{ taskForm.name.label }} (short, decriptive)</th>
        <td>{{ taskForm.name }}</td>
    </tr>
    <tr>
        <th>{{ manyToOneForm.question.label }}</th>
        <td>{{ manyToOneForm.question }}</td>
    </tr>
    <tr>
        <th>{{ manyToOneForm.instructions.label }}</th>
        <td>{{ manyToOneForm.instructions }}</td>
    </tr>

    <thead class="thead-light">
        <tr>
            <th colspan="6">Sorting Table <i>(Only categories/rows with a header will be saved)</i></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="6">
                {% for column_form in column_formset %}
                    {{ column_form.id }}
                    {{ column_form.caption }}
                    {{ column_form.nested.management_form }}
                    {% for row_form in column_form.nested.forms %}
                        {{ row_form.id }}
                        {{ row_form.answer }}

                    {% endfor %} <br>
                {% endfor %}
            </td>
        </tr>
    </tbody>

</table>
{% endblock specific_task_type_form %}
