{% extends 'learnpathology/base.html' %}

{% block content %}
<div class="container">
<h1>Course overview</h1>
</div>

<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">
    <table class="table">
    <tr>
        {% if request.user.is_teacher or request.user.is_superuser %}
            <th><a href="{% url 'course:edit' course.id %}">Edit course info</a></th>
            <th><a href="{% url 'course:delete' course.id %}">Delete course</a></th>
        {% endif %}
    </tr>

    <tr>
        <th>Course code:</th>
        <td>{{ course.code }}</td>
    </tr>
    <tr>
        <th>Course name: </th>
        <td>{{ course.title }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ course.description }}</td>
    </tr>
    </table>


<h3>Tasks</h3>

{% if request.user.is_teacher or request.user.is_superuser %}
    <p>
        <a href="{% url 'course:task_selection' course.id %}">Add task</a>
    </p>
{% endif %}

{% if tasks %}
<table>
    <tr>
        <th>Name</th>
        <th>Task type</th>
        <th>Do task</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url task.do_url task.id %}">{{ task.name }}</a></td>
            <td>{{ task.type }}</td>
            <td><a href="{% url task.do_url task.id %}">Do task</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    No tasks assigned to this course yet.
{% endif %}


<h3>Slides</h3>

{% if request.user.is_teacher or request.user.is_superuser %}
    <p>
        <a href="{% url 'course:slide_selection' course.id %}" >Add or remove slides</a>
    </p>
{% endif %}

{% if slides %}
<table>
    <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    {% for slide in slides %}
        <tr>
            <td><a href="{% url 'slide:view_full' slide.id %}"><img src="/slide/thumbnails/{{ slide.id }}.jpg" style="width: 100px"></a></td>
            <td><a href="{% url 'slide:view_full' slide.id %}">{{ slide.name }}</a></td>
            <td>{{ slide.description }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
    No slides assigned to this course yet.
{% endif %}
</div>
</div>
</div>

{% endblock content %}
