{% extends 'learnpathology/base.html' %}
{% load bootstrap_icons %}
{% load static %}


<script>

$(document).ready(function(){
  activateTab('aaa');
});

function activateTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}

$(document).ready(function() {
    $('.btn').onclick(function (event) {
        this.form.submit();
    });
});

</script>


{% block content %}
<div class="container">
<h1>Course page</h1>
</div>

<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">

    <div class="card courseHeaderCard border-0">
                <div class="card-body" style=" padding-bottom: 0;">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-md-8" style="margin: 0;">
                            <div class="card-title" style="text-align: left; margin: 0;"><h1>
                                {{ course.code }} - {{ course.title }}
                            </h1></div>
                            <div class="card-text" style="text-align: left; font-size: larger;">
                                <b>Instructors:</b>
                                {% for teacher in course.teacher.all %}
                                {% if teacher.first_name %}{{ teacher.first_name }} {{ teacher.last_name }},
                                {% else %}{{ teacher.username }},{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-text" style="text-align: right;">
                            {% if request.user.is_teacher or request.user.is_superuser %}
                                <div class="LPButton btn" style="width: fit-content; margin: 5px;"><a href="{% url 'course:edit' course.id %}" style="color: var(--text-colour-dark);">{% bs_icon 'gear' %}Edit course</a></div>
                                <div class="LPButton btn border-danger" style="width: fit-content; margin: 5px;"><a href="{% url 'course:delete' course.id %}" style="color: var(--text-colour-dark)">{% bs_icon 'trash' %}Delete course</a></div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="card courseContentCard border-0" style="min-height: 400px;">

        <div class="card align-content border-0" style="margin-top: 10px; padding-bottom: 10px">
            {# Place nav-tabs on top #}
            <ul class="nav nav-tabs courseNavTabs">
                <li class="nav-item">
                    <a href="#course-description" class="nav-link active" data-toggle="tab">{% bs_icon 'body-text' %}Course description</a>
                </li>
                <li class="nav-item">
                    <a href="#learning-outcomes" class="nav-link" data-toggle="tab">{% bs_icon 'flag' %}Learning outcomes</a>
                </li>
                <li class="nav-item">
                    <a href="#slides" class="nav-link" data-toggle="tab">{% bs_icon 'image' %}Slides</a>
                </li>
                <li class="nav-item">
                    <a href="#tasks" class="nav-link" data-toggle="tab">{% bs_icon 'question-square' %}Tasks/quizzes</a>
                </li>
            </ul>

            {# Place nav-panes below #}
            <div class="card courseNavPanes">
            <div class="tab-content" id="tabs">
                <div class="tab-pane active" id="course-description">
                    {% include 'course/course_page_content/course_description.html' %}
                </div>
                <div class="tab-pane" id="learning-outcomes">
                    {% include 'course/course_page_content/learning_outcomes.html' %}
                </div>
                <div class="tab-pane" id="slides">
                    {% include 'course/course_page_content/course_slides.html' %}
                </div>
                <div class="tab-pane" id="tasks">
                    {% include 'course/course_page_content/course_quizzes.html' %}
                </div>
            </div>
            </div>
        </div>

    </div>

</div>
</div>
</div>

{% endblock content %}
