{% extends 'learnpathology/single_content_layout.html' %}


{% block page_title %}
Edit learning outcomes
{% endblock page_title %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'course:index' %}">Courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course:view' course_id=course.id %}">{{ course.code }} - {{ course.title }}</a></li>
    <li class="breadcrumb-item">Edit learning outcomes</li>
{% endblock breadcrumb_items %}


{% block search_bar %}
{% endblock search_bar %}


{% block content %}

<div class="card w-100">
<div class="card-body">
<div class="card-text">

    <form class="form" method="post">
        {% csrf_token %}
        {{ form.media }}

        <table class="table">

            <thead class="thead-light">
                <tr><th>Field</th><th>Edit field content below</th></tr>
            </thead>
            <tr>
                <th>{{ form.learning_outcomes.label }}</th>
                <td>{{ form.learning_outcomes }}</td>
            </tr>

        </table>

        <br>
        <input type="submit" value="Update learning outcomes">
    </form>


</div>
</div>
</div>

{% endblock content %}


{% block javascript %}

$(document).ready(function(){
    collapseSidebar();
});

{% endblock javascript %}
