{% extends 'learnpathology/single_content_layout.html' %}


{% block page_title %}
Edit course description
{% endblock page_title %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'course:index' %}">Courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course:view' course_id=course.id %}">{{ course.code }} - {{ course.title }}</a></li>
    <li class="breadcrumb-item">Edit description</li>
{% endblock breadcrumb_items %}


{% block search_bar %}
{% endblock search_bar %}

{% block button_row %}


 {% endblock button_row %}


{% block content %}

<div class="card w-100">
<div class="card-body">
<div class="card-text">

    <form class="form" method="post">
        {% csrf_token %}
        {{ form.media }}

        <table class="table">

            <tr><th>{{ form.long_description.label }}</th>
                <td>{{ form.long_description }}</td></tr>

        </table>
        <div style="text-align: right">
            <button class="custom-button" type="submit">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:save-24-regular" data-width="24" data-height="24"
                          style="font-weight: bolder;"></span>
                </div>
                <div style="justify-content: flex-start; align-items: center; display: flex">
                    <div class="button-text">Save & return to course page</div>
                </div>
            </button>
        </div>
    </form>


</div>
</div>
</div>

{% endblock content %}


{% block javascript %}

$(document).ready(function(){
    collapseSidebar();
});

{% endblock javascript %}
