{% extends 'learnpathology/base.html' %}


{% block page_title %}
Course database
{% endblock page_title %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item">Courses</li>
{% endblock breadcrumb_items %}


{% block button_row %}
<div class="custom-button" style="">
    <a href="{% url 'course:new' %}" style="display: inline-flex;">
        <div class="button-icon">
            <span class="iconify" data-icon="fluent:add-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
        </div>
        <div style="justify-content: flex-start; align-items: center; display: flex">
            <div class="button-text">Add course</div>
        </div>
    </a>
</div>
{% endblock button_row %}


{% block content %}
<div class="card mx-auto text-center" style="width: 100%">
<div class="card-body">
<div class="card-text">
    {% if courses %}
        <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Course code</th>
            <th>Course name</th>
            <th>Description</th>
            {% if request.user.is_teacher or request.user.is_superuser %}
                <th>Edit</th>
            {% endif %}
        </tr>
        </thead>
        {% for course in courses %}
            <tr>
                <td><a href="{% url 'course:view' course.id %}">{{ course.code }}</a></td>
                <td><a href="{% url 'course:view' course.id %}">{{ course.title }}</a></td>
                <td>{{ course.description }}</td>
                {% if request.user.is_teacher or request.user.is_superuser %}
                    <td><a href="{% url 'course:edit' course.id %}">Edit</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <p>
        No courses in DB
    </p>
    {% endif %}
</div>
</div>
</div>
{% endblock content %}



{% block javascript %}

$(document).ready(function(){
    collapseSidebar();
});

{% endblock javascript %}
