{% extends 'learnpathology/single_content_layout.html' %}
{% load bootstrap_icons %}
{% load static %}


{% block page_title %}
New Course
{% endblock page_title %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'course:index' %}">Courses</a></li>

{% endblock breadcrumb_items %}

{% block button_row %}

<div class="custom-button" style="">
        <a href="{% url 'course:index' %}" style="display: inline-flex;">
        <div class="button-icon">
            <span class="iconify" data-icon="fluent:bin-recycle-24-regular" data-width="24" data-height="24" style="font-weight: bolder;"></span>
        </div>
        <div style="justify-content: flex-start; align-items: center; display: flex">
                <div class="button-text">Exit & discard course</div>
        </div>
    </a>
</div>

{% endblock button_row %}

{% block content %}


<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">

    <form class="form" method="post">
        {% csrf_token %}
        {{ form.media }}

        <table class="table">
            <thead class="thead-light">
            <tr><th>Course info</th><th></th></tr>
            </thead>
            <tr>
                <th>{{ form.code.label }}</th>
                <td>{{ form.code }}</td>
            </tr>

            <tr>
                <th>{{ form.title.label }}</th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <th>{{ form.description.label }}</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <th>{{ form.long_description.label }}</th>
                <td>{{ form.long_description }}</td>
            </tr>
            <tr>
                <th>{{ form.teacher.label }}</th>
                <td>{{ form.teacher }}</td>
            </tr>
        </table>

        <label class="LPButton" for="submit_button">Add course</label>
        <input type="submit" id="submit_button" style="display: none;">
    </form>

</div>
</div>
</div>

{% endblock content %}
