{% extends 'learnpathology/base.html' %}
{% load to_class_name %}
{% load static %}
{% load slide_filters %}

{% block content %}

<div class="container">
<h1>Add slides to course</h1>

<p>
    Select slide(s) to add to the course {{ course.code }} - {{ course.title }}
</p>
</div>
<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">
<p>
    <a href="{% url 'course:view' course.id %}">
        <input type="button" value="Return to course page">
    </a>
</p>


<table class="table">
<tr>
    <th>Available slides</th>
    <td>
    <form class="form">
        <p>
            <b>Filter:</b>
            Organ:
            <select name="organ[]" multiple class="filter" style="width:20%">
                {% for tag in organ_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_organ_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            Stain:
            <select name="stain[]" multiple class="filter">
                {% for tag in stain_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_stain_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            Tag:
            <select name="tag[]" multiple class="filter">
                {% for tag in other_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_other_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </p>
    </form>

    {% if filtered_slides %}
        {% include 'slide/slide_grid.html' with slides=filtered_slides grid_card_url='slide/grid_cards/slide_selection_add.html' %}
    {% else %}
        <p>
            No slides found with current filter.
        </p>
    {% endif %}
    </td>
</tr>

<tr>
    <th>Slides in course</th>
    <td>
        {% if slides_in_course %}
            {% include 'slide/slide_grid.html' with slides=slides_in_course grid_card_url='slide/grid_cards/slide_selection_remove.html' %}
        {% else %}
            <p>
                No slides have been added to the course.
            </p>
        {% endif %}
    </td>
</tr>
</table>
</div>
</div>
</div>
{% endblock content %}
