{% extends 'learnpathology/base.html' %}
{% load to_class_name %}
{% load static %}

{% block content %}


<h2>Add slides to course</h2>

<p>
    Select slide(s) to add to the course {{ course.code }} - {{ course.title }}
</p>

<p>
    <a href="{% url 'course:view' course.id %}">
        <input type="button" value="Return to course page">
    </a>
</p>



<h2>Available slides</h2>

<form>
    <p>
        <b>Filter:</b>
        Organ:
        <select name="organ[]" multiple class="filter" style="width:20%">
            {% for tag in organ_tags %}
                <option value="{{ tag.id }}"{% if tag.id|slugify in selected_organ_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
            {% endfor %}
        </select>
        Stain:
        <select name="stain[]" multiple class="filter">
            {% for tag in stain_tags %}
                <option value="{{ tag.id }}"{% if tag.id|slugify in selected_stain_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
            {% endfor %}
        </select>
        Tag:
        <select name="tag[]" multiple class="filter">
            {% for tag in other_tags %}
                <option value="{{ tag.id }}"{% if tag.id|slugify in selected_other_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
            {% endfor %}
        </select>
    </p>
</form>


{% if filtered_slides %}
    <form>
        <table>
        <tr>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for slide in filtered_slides %}
            <tr>
                <td><a href="{% url 'slide:view_full' slide.id %}">
                    <img src="/slide/thumbnails/{{ slide.id }}.jpg" style="width: 100px">
                </a></td>
                <td>{{ slide.name }}</td>
                <td>{{ slide.description }}</td>
                <td>
                    <button class="add_button" data-course_id={{ course.id }} data-model_name={{ slide | to_class_name }} data-instance_id={{ slide.id }} >
                        Add
                    </button>
                </td>
            </tr>
        {% endfor %}
        </table>
    </form>
{% else %}
    <p>
        No slides found with current filter.
    </p>
{% endif %}



<h2>Slides in course</h2>


{% if slides_in_course %}
    <form>
        <table>
        <tr>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for slide in slides_in_course %}
            <tr>
                <td><a href="{% url 'slide:view_full' slide.id %}">
                    <img src="/slide/thumbnails/{{ slide.id }}.jpg" style="width: 100px">
                </a></td>
                <td>{{ slide.name }}</td>
                <td>{{ slide.description }}</td>
                <td>
                    <button class="remove_button" data-course_id={{ course.id }} data-model_name={{ slide | to_class_name }} data-instance_id={{ slide.id }} >
                        Remove
                    </button>
                </td>
            </tr>
        {% endfor %}
        </table>
    </form>
{% else %}
    <p>
        No slides have been added to the course.
    </p>
{% endif %}


{% endblock content %}
