:root{
    --font-family:Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-size: large;
    --h1-size: large;
    --menu-width: 300px;
    --header-height: 200px;
    --image-height: 180px;
    --shadow: rgba(0, 0, 0, 0.5); /*rgba(0, 0, 102, 0.5);*/
    --button-text-colour: #ffffff;
}

main {
    width: 100%;  /* Set to 800 px in slide/static/slide/style.css */
}

.theme_teacher{
    --background-card: #ffffff;
    --background-header: #eaece5;
    --background: #83bafc;
    --background-dark: #5c716e;
    --button-colour: #a3c042;
    --text-colour: #37522e;
    --text-colour-dark: #3b3a30;
}

/*.theme_student{
    --background-header: #deeaee;
    --background:#0066cc;
    --background-dark:#003366;
    --button-colour: #afd275;
    --text-color:#003399;
    --text-color-dark:#000066;
}*/

.theme_student{
    --background-card: #ffffff;
    --background-header: #f9ccac;
    --background:#fbefcc;
    --background-dark: #f4a688;
    --button-colour: #40a1d0;
    --text-colour:#e0876a;
    --text-colour-dark: #663626;
}

.theme_default{
    --background-card: #ffffff;
    --background-header: #afafaf;
    --background: #dedede;
    --background-dark: #414141;
    --button-colour: #d27575;
    --text-colour: #6f6f6f;
    --text-colour-dark: #424242;
}

body {
    background-color: var(--background);
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
    font-family: var(--font-family);
}

.header {
    background-color: var(--background-header);
    width: 100%;
    top: 0px;
    height: var(--header-height);
    color: var(--button-text-colour);
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    horiz-align: right;
}

.logoImage {
    position: relative;
    border: 0px;
    max-height: var(--image-height);
}

.logoContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;  /* centre the image vertically */
    vertical-align: middle;
    top: 0px;
    right: 0px;
    padding-right: 50px;
    height: var(--header-height);
    float:right;
}

.card {
    margin: 0 auto;
    margin-top: 30px;
    font-family: var(--font-family);
    color: var(--text-colour-dark);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-card);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px var(--shadow);
    padding: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 100px;
    max-height: 500px;
    max-width: 70%;
    overflow-y: scroll;
}

.card .wsi-canvas{
    max-width: 100%;
}

.card h1,h2,h3{
    position: fixed;
    display: block;
    transform: translateY(-85px);
    color: var(--text-colour);
    z-index: 1;
}

.card a{
    color: var(--text-colour);
}

.card form,p,table{
    position: relative;
    color: var(--text-colour);
    z-index: 0;
}

.card tr, td, th{
    text-align: center;
}

.wsi_canvas{
    width: 100%;
    height: 800px;
    align-content: center;
}
.navContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: row;!important;
}
.navigation{
    display: inline;
    list-style: none;
}

.navigation .menuItem{
    float: left;
    padding: 10px;
    margin-left: 50px;
    min-width: 100px;
    font-family: var(--font-family);
    text-align: center;
    display: inline;
}

.navigation .menuButton{
    background-color: var(--button-colour);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    color: var(--button-text-colour);
}

.navigation .menuInfo{
    color: var(--text-colour-dark)
}

.navigation a {
    color: var(--button-text-colour);
    text-decoration: underline;
}

.navigation a:hover {
    text-decoration: none;
}

.annotation_teacher{
    background-color: rgba(255, 255, 255, 0.75);
    outline: 2px solid white;
    color: var(--text-colour-dark);
    font-size: 20px;
}

.pageContent {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding-top: 40px;
    float: right;
    overflow-y: scroll;
    background-color: var(--background);
}

#content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

