:root{
    --font-family:'DM Sans', Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-size: large;
    --h1-size: large;
    --header-height: 70px;
    --logo-bg-width: 40%;
    --sintef-wm-width: 20%;
    --logo-small-height: 66px;
    --icon-size: 24px;
    --shadow: rgba(0, 0, 0, 0.5); /*rgba(0, 0, 102, 0.5);*/
    --sidebar-width: 185px;
    --sidebar-width-collapsed: 100px;
    --border-radius: 8px;
    --button-text-colour: #ffffff;
    --font-size-buttons: 16px;
    /*--text-colour: #3b3a30;*/
    /*--text-colour-dark: #2d2c28;*/
    /*--text-colour-light: #fff7f7;*/

}

main {
    width: 100%;  /* Set to 800 px in slide/static/slide/style.css */
}

/* ===================================
    COLOUR THEMES
=================================== */
.theme_lp {
    --background: #f5f8fe;
    /* Base colors */
    --color-white: #ffffff;
    --color-light-gray: #ebebff;
    --color-gray: #e1e3f3;
    /*--background-content: #ebebff;*/
    /* Blue-violet color scheme */
    --color-blue-light: #dedefe;
    --color-blue: #8d9bfe;
    --color-blue-dark: #4458b0;
    /* Text color */
    --text-colour: #263347;         /* default text colour */
    --text-colour-light: #586273;
    --text-colour-lighter: #cfd9e7;
    --text-colour-lightest: #e6f0fc;
    /* Feedback, confirmation, success */
    --color-positive-light: #b7fdec;
    --color-positive: #21b499;
    --color-positive-dark: #005b4c;
    /* Warning */
    --color-warning-light: #fdfdfe;
    --color-warning: #fdcf33;
    --color-warning-dark: #795d01;
    /* Error */
    --color-error-light: #fddedf;
    --color-error-: #de0040;
    --color-error-dark: #860022;
}

.theme_teacher{
    --background-card: #ffffff;
    --background-header: #eaece5;
    --background-collapsed-menu: #c4c4c4;
    --background: #83bafc;
    --background-dark: #456a96;
    --button-colour: #e7f4fc;
    --button-colour-hover: rgba(205, 245, 251, 0.89);
    --button-colour-active: #a8d9ff;
    --button-border-colour: #888;
    --logo-hue: 240deg;
    --logo-saturation: 20;
    --logo-brightness: 10;
    --logo-opacity: 60%;
    --grid-card-background: #e5edf0;
    --grid-card-border: rgba(105, 147, 152, 0.5);
}

.theme_student{
    --background-card: #ffffff;
    --background-header: #f9ccac;
    --background-collapsed-menu: #c4c4c4;
    --background:#fbefcc;
    --background-dark: #f4a688;
    --button-colour: #fcf1e7;
    --button-colour-hover: rgba(245, 222, 198, 0.89);
    --button-colour-active: #ffd5a8;
    --button-border-colour: #888;
    --logo-hue: 180deg;
    --logo-saturation: 50;
    --logo-brightness: 0;
    --logo-opacity: 20%;
    --grid-card-background: #e5edf0;
    --grid-card-border: rgba(105, 147, 152, 0.5);
}

.theme_default{
    --background-card: #ffffff;
    --background-header: #afafaf;
    --background-collapsed-menu: #c4c4c4;
    --background: #dedede;
    --background-dark: #414141;
    --button-colour: #e7f4fc;
    --button-colour-hover: rgba(205, 245, 251, 0.89);
    --button-colour-active: #a8d9ff;
    --button-border-colour: #888;
    --text-colour: #474747;
    --text-colour-dark: #0e0e0e;
    --logo-hue: 130deg;
    --logo-saturation: 20;
    --logo-brightness: 10;
    --logo-opacity: 60%;
    --grid-card-background: #e5edf0;
    --grid-card-border: rgba(105, 147, 152, 0.5);
}

.theme_olive{
    --background-card: #ffffff;
    --background-header: #eaece5;
    --background-collapsed-menu: #c4c4c4;
    --background: #a2ba8e;
    --background-dark: #5c6346;
    --button-colour: #dce7cd;
    --button-colour-hover: rgba(218, 247, 209, 0.98);
    --button-colour-active: #c3e4ba;
    --button-border-colour: #888;
    --logo-hue: 240deg;
    --logo-saturation: 20;
    --logo-brightness: 10;
    --logo-opacity: 60%;
    --grid-card-background: #eaeee5;
    --grid-card-border: rgba(130, 152, 105, 0.50);
}

.theme_test{
    --background-card: #ffffff;
    --background-header: #eaece5;
    --background-collapsed-menu: #c4c4c4;
    --background: #a2ba8e;
    --background-dark: #5c6346;
    --sidebar-colour-base: #f4f4f4;
    --sidebar-colour-item: #5e58d2;
    --sidebar-colour-item-hover: #dfdada;
    --sidebar-colour-item-selected: #cdc6c6;
    --sidebar-colour-hover: #b5afaf;
    --sidebar-colour-text: #050034;
    --sidebar-colour-text-hover: #7386D5;
    --button-colour: #dce7cd;
    --button-colour-hover: rgba(218, 247, 209, 0.98);
    --button-colour-active: #c3e4ba;
    --button-border-colour: #888;
    --logo-hue: 240deg;
    --logo-saturation: 20;
    --logo-brightness: 10;
    --logo-opacity: 60%;
    --grid-card-background: #eaeee5;
    --grid-card-border: rgba(130, 152, 105, 0.50);
}

body {
    background-color: var(--background);
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
    font-family: var(--font-family);
}

.header {
    background-color: var(--background-header);
    width: 100%;
    top: 0px;
    height: var(--header-height);
    color: var(--button-text-colour);
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    horiz-align: right;
}

.setLogoColor {filter: saturate(var(--logo-saturation)) hue-rotate(var(--logo-hue))}
.setLogoTranslucent{filter: brightness(var(--logo-brightness)) opacity(var(--logo-opacity))}
.logoBGImage {
    position: relative;
    border: 0px;
    left: 0;
}

.sintefWMImage {
    position: relative;
    border: 0px;
    right: 0;
    width: var(--sintef-wm-width);
}

.logoBGContainer {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;  /* centre the image vertically */
    vertical-align: middle;
    bottom: 0px;
    left: 0px;
    padding: 50px;
    float:right;
    width: 100%;
    z-index: -1;
}

.sintefWatermark {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;  /* centre the image vertically */
    vertical-align: middle;
    bottom: 0px;
    left: 0px;
    padding: 50px;
    float:left;
    z-index: -1;
    width: 100%;
}

.logoSmallImage {
    position: relative;
    border: 0px;
    left: 0;
    max-height: var(--logo-small-height);
}

.logoSmallContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;  /* centre the image vertically */
    vertical-align: middle;
    bottom: 0px;
    right: 0px;
    padding-right: 50px;
    margin: 5px;
    float:right;
    max-height: var(--header-height);
    z-index: -1;
}
.myCard {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: var(--font-family);
    color: var(--text-colour);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-card);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px var(--shadow);
    padding: 10px;
    height: fit-content;
    width: fit-content;
    min-height: 2rem;
    min-width: 2rem;
    max-width: 70%;
    overflow-y: auto;
}

.myCard>h1,h2,h3{
    /*position: fixed;*/
    display: block;
    /*transform: translateY(-85px);*/
    /*margin-top: -70px;*/
    color: var(--text-colour);
    z-index: 1;
}

.myCard.h1{
    overflow-y: visible;
}

.myCard a{
    color: var(--text-colour);
}

.myCard form,p,table{
    position: relative;
    color: var(--text-colour);
    z-index: 0;
}

.myCard tr, td, th{
    text-align: center;
}

.myCard > .wsi_canvas{
    align-content: center;
}

.navContainer {
    position: absolute;
    bottom: 10px;
    flex-direction: row;!important;
}
.navigation{
    display: inline;
    list-style: none;
}

.navigation .menuItem{
    float: left;
    padding: 10px;
    margin-left: 50px;
    min-width: 100px;
    font-family: var(--font-family);
    text-align: center;
    display: inline;
}

.navigation .menuButton{
    background-color: var(--button-colour);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    color: var(--button-text-colour);
}

.navigation .menuInfo{
    color: var(--text-colour)
}

.navigation a {
    color: var(--button-text-colour);
    text-decoration: underline;
}

.navigation a:hover {
    text-decoration: none;
}

.annotation_teacher{
    background-color: rgba(255, 255, 255, 0.75);
    outline: 2px solid white;
    color: var(--text-colour);
    font-size: 20px;
}

.pageContent {
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;
    --padding-horizontal: 20px; /* Already 12 px padding on left and right */
    /*padding-top: 24px;*/
    /*--padding-horizontal: 12px; !* Already 12 px padding on left and right *!*/
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    float: right;
    box-sizing: border-box;
    overflow-y: auto;
    /*background-color: var(--color-blue-light);*/
    z-index: -1;
}

#content {
    /*width: -webkit-fit-content;*/
    /*width: -moz-fit-content;*/
    /*width: fit-content;*/
    width: 100%;
    background: var(--color-light-gray);
}

#contentLeft {
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
}

#contentRight {
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.content-card card{
    all: inherit;
    width: 90%;
}

.fill {
    height: 100%;
}

/* Table formatting */
.table .thead-light th {
    /* From boostrap v4 definition */
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.LPButton {
    display: inline-block;
    background-color: var(--color-blue-light);
    padding: 5px 10px;
    margin: 10px;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    width: fit-content;
}

.LPButton:hover {
    background-color: var(--color-blue-light);
}

.LPButton .a {
    color: var(--text-colour)!important;
}

.LPButton .a:hover {
    color: var(--text-colour)!important;
}

.LPButton_selected {
    box-shadow: inset 0 0 3px var(--shadow);
    background-color: var(--color-blue);
}

/* =============================================
Radio button toolbar used with slide filters
============================================= */
.radio-toolbar {
  margin: 0;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: var(--color-blue-light);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--color-blue);
    border-radius: 4px;
}

.radio-toolbar label.wideLabel {
    display: inline-block;
    background-color: var(--color-blue-light);
    font-family: sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    border: 0 solid var(--color-blue);
    border-radius: 4px;
    padding: 5px 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
}

.radio-toolbar button.wideLabel {
    display: inline-block;
    background-color: var(--color-blue-light);
    font-family: sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    border: 0 solid var(--color-blue);
    border-radius: 4px;
    padding: 4px 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
    text-align: left;
}
.radio-toolbar button.wideLabel.active {
    background-color: var(--color-blue);
}

.imageBrowserSearchButtons {
    display: inline-block;
    background-color: var(--color-blue-light);
    font-family: sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    border: 0 solid var(--color-blue);
    border-radius: 4px;
    padding: 5px 5px;
    margin: 1px 0 1px 0;
    width: 49%;
}

.radio-toolbar label:hover {
    background-color: var(--color-blue-light);
}
.radio-toolbar label.active {
    background-color: var(--color-blue);
}

/* =============================================
Course page styling
============================================= */
.courseHeaderCard {

}

.courseHeaderCard .card-body {
    align-self: center;
    width: 100%;
}

.courseContentCard {

}

/* =============================================
Course navigation tabs
============================================= */
.courseNavTabs .nav-tabs {
    /*background-color: var(--button-colour-active);*/
    color: var(--text-colour);
}

.courseNavTabs .nav-link {
    /*background-color: var(--button-colour-active);*/
    color: var(--text-colour);
    border-style: solid;
    border-width: 1px  1px 0 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-color: var(--color-blue);
}

.courseNavTabs .nav-link:hover {
    background-color: var(--color-blue-light);
    border-style: solid;
    border-width: 1px  1px 0 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-color: var(--color-blue-dark);
}

.courseNavTabs .nav-link.active {
    background-color: var(--background);
    color: var(--text-colour);
    font-weight: bold;
    border-style: solid;
    border-width: 1px  1px 0 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-color: var(--color-blue);
}

.courseNavPanes {
    border-style: solid;
    border-color: var(--color-blue);
    border-width: 0 1px 1px 1px;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
}

/* =============================================
Slide viewer
============================================= */
.transparentBackground {
    background-color: rgba(0, 0, 0, 0%);
}
.centerCardHorizontally {
    margin-left: auto;
    margin-right: auto;
}

.slideInfoCard {
    margin-top: auto;
    margin-bottom: auto;
}

.slideViewerCol {
    height: 100%;
}

.slideViewerCard {
    height: 100%;
    width: 100%;
}

@media (max-width: 992.02px) {
    /*
    Here, specify what happens on a screen narrower than 992 px (media lg),
    where the info card and slide viewer are placed on top of each other
    rather than side by side.
    */
    .slideViewerCard {
        margin: 5px auto 5px auto!important;
    }
}

/* =============================================
Image browser
============================================= */
.imageBrowserNavTabs .nav-pills .nav-link {
    color: var(--text-colour);
    margin: 0 10px 0 10px;
}
.imageBrowserNavTabs .nav-link:hover {
    background-color: var(--button-colour-hover);
    color: var(--text-colour);
}
.imageBrowserNavTabs .nav-link.active {
    background-color: var(--button-colour-active);
    color: var(--text-colour);
}

/* Styling for cards containing thumbnails, name, short description */
.slideGridViewCard {
    height: 95%;
    max-height: 500px;
    min-height: fit-content;
    border-color: var(--grid-card-border);
}
.cardImageHeader {
    height: 60%;
    min-height: 50%;
    max-height: 250px;
    background-color: var(--grid-card-background);
}
.gridCardContent {
    height: fit-content;
    max-height: 50%;
    padding: 5% 2% 2% 2%;
    border: none;
}
.headerImageContainer {
    height: 95%;
    width: 95%;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--grid-card-background);
    background-clip: content-box;   /* sets padding to same color */
    border: 0;
    margin: auto;
}
.headerImage {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

/* === Use below five classes to crop the image to fit the card header === */
/*.cardImageHeader {*/
/*    height: 50%;*/
/*    min-height: 50%;*/
/*    background-color: var(--grid-card-background);*/
/*}*/
/*.gridCardContent {*/
/*    height: 50%;*/
/*    max-height: 50%;*/
/*    padding: 5% 2% 2% 2%;*/
/*    border: none;*/
/*    !*min-height: fit-content;*!*/
/*}*/
/*.headerImageContainer {*/
/*    !*height: fit-content;*!*/
/*    !*width: fit-content;*!*/
/*    height: 95%;*/
/*    width: 95%;*/
/*    max-height: 100%;*/
/*    max-width: 100%;*/
/*    background-color: var(--grid-card-background);*/
/*    background-clip: content-box;   !* sets padding to same color *!*/
/*    border: 0;*/
/*    margin: auto;*/
/*    !*padding: 3%;*!*/
/*}*/
/*.headerImage {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 200px;*/
/*    height: 180px;*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/
/*.croppedImage {*/
/*    object-fit: cover;*/
/*    !*border: 5px solid black;*!*/
/*    margin: auto;*/
/*}*/

.noLinkStyling {
    text-decoration: none;
    color: var(--text-colour);
}
.noLinkStyling:hover {
    color: var(--text-colour);
}

/* =============================================
Annotations
============================================= */
.LPBoundingBox {
    background-color: rgba(0, 0, 0, 0%);    /* transparent background */
    border-color: rgba(237, 193, 49, 0.91);
    border-width: 3px;  /* 2px? */
    color: black

}

.textOverlay{
    background-color: rgba(0, 0, 0, 0%);
    color: #000000;

}

.LPAnnotationArrow {

}

/* ===========================================
Sidebar
=========================================== */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    min-height: 100vh;
    background: var(--background);
    color: #fff;
    transition: all 0.2s;
    /* Below from Figma */
    display: inline-flex;
    padding: 24px 40px 24px 24px;
    /*align-items: flex-start;*/
    /*gap: 16px;*/
    /*flex-shrink: 0;*/
}

#sidebar .sidebar-contents {
    width: calc(var(--sidebar-width) - 64px);
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 200px;
}

/* Header and top items */
#sidebar .sidebar-top-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

#sidebar .sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#sidebar .sidebar-top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* Bottom items */
#sidebar .sidebar-bottom-group {
    display: inline-flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: flex-end;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;
}

#sidebar .sidebar-bottom-items {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

/* Sidebar items, etc. */
#sidebar .sidebar-item {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

#sidebar .sidebar-item-icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

#sidebar .sidebar-item-text {
    display: inline-flex;
    font-size: var(--font-size-buttons);
    /*font-weight: bold;*/
    align-items: center;
    gap: 10px;
}

/* List styling */
#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: var(--text-colour-lightest);
    padding: 10px;
}

/* Dropdown menus in sidebar */
#sidebar ul li a {
    padding: 5px;
    /*margin: 5px;*/
    font-size: 14px;
    text-align: left;
    display: block;
    height: fit-content;
    /*margin-bottom: 5px;*/
    border-radius: 8px;
}

/*#sidebar a > span {*/
/*    padding: 5px;*/
/*    !*margin: 5px;*!*/
/*    font-size: 14px;*/
/*    text-align: left;*/
/*    display: block;*/
/*    height: fit-content;*/
/*    !*margin-bottom: 5px;*!*/
/*    border-radius: 8px;*/
/*}*/

/*#sidebar ul li a.active {*/
/*    !*color: var(--text-colour-light);*!*/
/*    background: var(--color-blue-light);*/
/*}*/

/*#sidebar ul li a.active > span {*/
/*    color: var(--color-blue-dark);*/
/*    !*background: var(--sidebar-colour-base);*!*/
/*}*/

/*#sidebar .ul.li.a.active > span.sidebar-item-icon {*/
/*    color: var(--color-blue);*/
/*    !*background: var(--sidebar-colour-item-selected);*!*/
/*}*/

#sidebar .sidebar-item.active .sidebar-item-icon {
    color: var(--color-blue-dark);
    background: var(--color-blue-light);
}

#sidebar .sidebar-item.active .sidebar-item-text {
    color: var(--color-blue-dark);
    /*background: var(--color-blue-light);*/
}

#sidebar ul li a:hover {
    /*color: var(--sidebar-colour-text-hover);*/
    background: var(--color-blue-light);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: var(--text-colour);
    /*background: #6d7fcc;*/
}

#sidebar ul {
    background: var(--color-blue-light);
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebar ul li .dropdown-item {
    color: var(--text-colour)!important;
}


/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: var(--sidebar-width-collapsed);
    max-width: var(--sidebar-width-collapsed);
    align-items: flex-start;
    padding: 24px 16px;
}

#sidebar.active .sidebar-contents {
    width: calc(var(--sidebar-width-collapsed) - 40px);
    display: flex;
    /*padding: 0 8px 0 0;*/
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    align-self: stretch;
}

#sidebar.active .sidebar-top-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#sidebar.active .sidebar-header {
    /*padding: 25px 10px 25px 10px;*/
    /*padding-right: 8px;*/
}

#sidebar.active .sidebar-top-items {
    /*width: 121px; height: 248px;*/
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#sidebar.active .sidebar-top-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}


/* Toggling the sidebar header content, hide the big heading [h3]
and showing the small heading [strong] and vice versa
*/
#sidebar.active .sidebar-item-text {
    display: none;
}
#sidebar.active .sidebar-item-icon {
    /*display: inline-flex;*/
    /*padding: 0;*/
}

#sidebar.active .a.active .sidebar-item-icon {
    color: var(--color-blue-dark);
    background: var(--color-blue-light);
}

#sidebar.active ul li a {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;
}

#sidebar.active ul li a i {
    margin-right:  0;
    font-size: 1.5em;
    /*margin-bottom: 5px;*/
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position,
      translateX(50%) works with right: 50%
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}


/* ===========================================
Header of page main content
=========================================== */
.content-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.breadcrumb-container {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
}

.breadcrumb {
    margin-bottom: 0;
    font-size: medium;
}

.page-header-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 200px;
}

/* Left title and right item group */
.page-title-container {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: initial;
    gap: 12px;
}

.page-title-container h1 {
    font-size: xx-large;
    margin-bottom: 0;
}

.headline-container {
    display: flex;
    flex: 1 1 0;
    justify-content: end;
    align-items: flex-end;
    /*padding-top: 32px;*/
    /*padding-bottom: 32px;*/
    gap: 12px;
}

.search-bar-container {
    width: 350px;
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;

    padding: 8px;
    background: var(--background);
    border: 1px solid var(--color-light-gray);
    border-radius: var(--border-radius);
}

.main-search-input {
    /*height: 24px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    color: var(--text-colour);
    font-size: var(--font-size-buttons);
    line-height: 24px;
    border: 0;
}

/* Main page content where the {% block content %} is placed */
.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /*24px;*/
    /*border-radius: var(--border-radius);*/
    /*background: var(--background);*/
    border: 2px solid var(--color-blue); /* TODO: Remove after positioning */
    /*border: none!important;*/
}

/* One-column layout */
.one-column-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Two-column layout */
.two-column-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.content-left {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.content-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
}

/* Custom objects/items */
.custom-button {
    width: 139px;
    height: 48px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background: #4A59B0;
    border-radius: 8px;
}
