{% extends "task/do_task_two_column.html" %}

{% block top_content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>{{ task.question }}</h1>
                <p>{{ task.instructions }}</p>
            </div>
            <div class="col-4" >
                <div class="LPButton" style="margin-top: 0; ">
                    {% if course_id == 0 %}
                        <a href="{% url 'task:list' %}">Task Overview</a>
                    {% else %}
                        <a href=" {% url 'course:view' course_id=course_id active_tab='tasks' %}">Back to course</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock top_content %}


{% block content_left %}

<form class="form-check text-start" action="{% url 'free_text:do' task_id=task.task_id course_id=course_id %}" method="post">
    {% csrf_token %}
    {% if answered == 'yes' %}
        <textarea name="studentText" style="height: 100%; min-height: 100px; width: 100%;">{{ student_text }}</textarea>
    {% else %}
        <textarea name="studentText" style="height: 100%; min-height: 100px; width: 100%;"></textarea>
    {% endif %}
    <br>
    <input type="submit" value="Compare to teacher's solution">
    <div class="LPButton" style="margin-top: 0; ">
        <a href="{% url ''|add:next_task_type|add:':do' task_id=next_task_id course_id=course_id %}">Next Task</a>
    </div>
</form>

{% if answered == 'yes' %}
    <div class="card border-success">
        <div class="card-tile">Optimal answer</div>
        <div class="card-body">{{ task.answer }}</div>
    </div>
{% elif answered == 'no' %}
    <div class="card border-warning">
        <div class="card-tile">
            Please enter your answer, so you can compare it to the teacher's solution.
        </div>
    </div>
{% endif %}

{% endblock content_left %}


{% block content_right %}
{% endblock content_right %}
