{% extends "task/do_task_two_column.html" %}


{% block task_instructions %}
{{ free_text.instructions }}
{% endblock task_instructions %}

{% block task_question %}
{{ free_text.question }}
{% endblock task_question %}

{% block content_left %}

<form class="form-check text-center" action="{% url 'free_text:do' task_id=task.id course_id=course_id slide_id=slide_id %}" method="post">
    {% csrf_token %}
    {% if answered == 'yes' %}
        <textarea name="studentText" style="height: 100%; min-height: 100px; width: 100%; max-width: 800px;">{{ student_text }}</textarea>
    {% else %}
        <textarea name="studentText" style="height: 100%; min-height: 100px; width: 100%; max-width: 800px;"></textarea>
    {% endif %}
    <br>
    <div style="margin-top: 10px;">
        <input class="LPButton" type="submit" value="Compare to teacher's solution">
        <div class="LPButton" style="margin-top: 0; ">
            <a href="{% url next_task.do_url task_id=next_task_id course_id=course_id slide_id=slide_id %}">Next Task</a>
        </div>
    </div>
</form>

{% if answered == 'yes' %}
    <div class="card border-success">
        <div class="card-tile">Optimal answer</div>
        <div class="card-body">{{ free_text.answer }}</div>
    </div>
{% elif answered == 'no' %}
    <div class="card border-warning">
        <div class="card-tile">
            Please enter your answer, so you can compare it to the teacher's solution.
        </div>
    </div>
{% endif %}

{% endblock content_left %}


{% block content_right %}
{% endblock content_right %}

