{% extends 'task/new_info_and_annotation.html' %}


{% block task_type %}
<!-- TODO: What should this header be? Include "step 2" somehow, make step 2 template? -->
Short answer question
{% endblock task_type %}


{% block task_type_new_url %}
{{ new_url }}
{% endblock task_type_new_url %}


{% block specific_task_type_form %}

<table class="table">

    <thead class="thead-light">
        <tr><th colspan="2">Task info</th></tr>
    </thead>
    <tr>
        <th>{{ taskForm.name.label }} (short, decriptive)</th>
        <td>{{ taskForm.name }}</td>
    </tr>
    <tr>
        <th>{{ freeTextForm.question.label }}</th>
        <td>{{ freeTextForm.question }}</td>
    </tr>
    <tr>
        <th>{{ freeTextForm.instructions.label }}</th>
        <td>{{ freeTextForm.instructions }}</td>
    </tr>
           <tr>
        <th>{{ freeTextForm.answer.label }}</th>
        <td>{{ freeTextForm.answer }}</td>
    </tr>

</table>

{% endblock specific_task_type_form %}
