{% extends 'learnpathology/base.html' %}

{% block content %}
<div class="container">
<h1>Add slide</h1>
</div>
<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>

{#    <label for="id_name">Name: </label>#}
{#    <input type="text" name="name" maxlength="255" required id="id_name"><br>#}
{#    <label for="id_description">Description:</label>#}
{#    <textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea><br>#}
{#    <label for="id_path">Path:</label>#}
{#    <input type="file" name="path" maxlength="1024" required="" id="id_path"><br>#}
{#    <label for="id_pathology">Pathology:</label>#}
{#    <input type="checkbox" name="pathology" id="id_pathology"><br>#}
{#    <label for="id_organ_tags">Organ tags:</label>#}
{#    <select name="organ_tags" id="id_organ_tags" multiple=""></select><br>#}
{#    <label for="id_stain_tags">Stain tags:</label>#}
{#    <select name="stain_tags" id="id_stain_tags" multiple=""></select><br>#}
{#    <label for="id_other_tags">Other tags:</label>#}
{#    <select name="other_tags" id="id_other_tags" multiple=""></select><br>#}

    <input type="submit" value="Add">
</form>
</div>
</div>
</div>

{% endblock %}