{% extends 'learnpathology/base.html' %}

{% block content %}

<div class="container">
    <h1>Add or edit descriptive annotations</h1>
</div>

<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">

<form class="form" method="post">
    {% csrf_token %}

    {% include 'slide/view_wsi_and_edit_annotations.html' with slide=slide annotated_slide=annotated_slide %}

    <input class="LPButton button" type="submit" value="Submit" onclick="this.form.submit();">
    <div class="LPButton button"><a href="{% url 'slide:view_full' slide_id=slide.id %}">Cancel</a></div>
</form>

</div>
</div>
</div>

{% endblock %}