{% load static %}
{% load slide_filters %}


{% block image_viewer %}

<div class="container-fluid" style="width: 100%">

    {% for chunk in slides|as_chunks:12 %}
        <div class="row">

            {% for slide in chunk %}
                <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="max-height: 400px;">
                    {% include 'slide/grid_cards/grid_card_minimal.html' with slide=slide %}
                </div>
            {% endfor %}

        </div>
    {% endfor %}

</div>

{% endblock image_viewer %}
