{% extends 'learnpathology/two_column_layout.html' %}
{% load slide_filters %}


{% block page_title %}
Slides browser
{% endblock page_title %}


{% block breadcrumb_items %}
{#<li class="breadcrumb-item"><a href="{% url 'slide:browser' %}">Image browser</a></li>#}
<li class="breadcrumb-item active" aria-current="page">Slides</li>
{#<li class="breadcrumb-item">List of images</li>#}
{% endblock breadcrumb_items %}


{% block button_row %}
{#<div class="custom-button" style="">#}
{#    <a href="#" style="display: inline-flex">#}
{#        <span class="iconify" data-icon="fluent:add-24-regular" data-width="24" data-height="24" style="color: var(--color-white); font-weight: bolder;"></span>#}
{#        <div class="ButtonText" style="justify-content: flex-start; align-items: center; display: flex">#}
{#            <div class="ButtonText" style="text-align: center; color: white; font-size: var(--font-size-buttons); font-weight: 700; letter-spacing: 0.42px; white-space: nowrap">Some button</div>#}
{#        </div>#}
{#    </a>#}
{#</div>#}
{% endblock button_row %}


{% block content_left %}
    {% include 'slide/filtering_sidebar.html' %}
{% endblock content_left %}


{% block content_right %}
<!-- Slide grid -->

<div class="card border-0">
    {% if slides %}
        <div class="card border-0" style="min-height: 600px">
            {% include 'slide/grid_view_task.html' with slides=slides %}
        </div>

    {% else %}
        <div class="card" style="min-height: 200px; padding-top: 10px">
            No slides available.
        </div>
    {% endif %}
</div>

{% endblock content_right %}


{% block javascript %}

$(document).ready(function(){
    /*activateTab('aaa');*/
    collapseSidebar();
});

function activateTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}

$(document).ready(function() {
    $('.btn').onclick(function (event) {
        this.form.submit();
    });
});

{% endblock javascript %}