{% extends 'learnpathology/base.html' %}
{% load slide_filters %}
{% load bootstrap_icons %}


{% block content %}

<div class="container">
    <h1>Image browser</h1>
</div>
<div class="card mx-auto text-center" style="width: 95%">
<div class="card-body">

{% comment %}
{% if user.is_superuser or user.is_teacher %}
    <div class="card border-0">
    <div class="card-body align-content" style="margin-right: auto; padding-top: 10px; padding-bottom: 10px">

        <p><a class="LPButton" href="{% url 'slide:add' %}">Add a whole slide image to the database</a></p>
    </div>
    </div>
{% endif %}
{% endcomment %}


    <div class="row" style="margin: 0 0 0 0;">

        <!-- Menu/toolbar -->
        <div class="col" style="padding: 0 0 0 0;">
            <form class="form" id="slideDisplayForm" onsubmit="{% url 'slide:browser' %}">

                <style>
                    label::first-letter {
                        text-transform:capitalize;
                    }
                </style>

                <div class="card">
                    <!-- SEARCH feature -->
                    <h4 style="margin: 14px 0 0 0;"><label for="search_input">Search</label></h4>
                    <div class="card border-0 w-100 text-start">
                        <div class="card-body">
                            <input type="text" name="search" placeholder="Search names, descriptions..." id="search_input"
                                   {% if search_query %}value="{{ search_query }}"{% endif %} style="width: 100%;">
                            <div style="margin-top: 2px;">
                                <button class="imageBrowserSearchButtons" type="submit" name="submit_button">Search</button>
                                <button class="imageBrowserSearchButtons" type="submit" name="clear_button">Clear search</button>
                            </div>
                        </div>
                    </div>
                    <!-- HISTOLOGY/PATHOLOGY selection -->
                    <h4 style="margin: 0;">Histology or pathology?</h4>
                    <div class="card border-0 w-100 text-start">
                        <div class="card-body">
                            <div class="radio-toolbar">
                                <input type="radio" name="histology-pathology" id="hist-path-btn" value="both" onchange="this.form.submit();">
                                <label for="hist-path-btn" class="wideLabel {% if selected_both %}active{% endif %}">Both</label>

                                <input type="radio" name="histology-pathology" id="histology-btn" value="histology" onchange="this.form.submit();">
                                <label for="histology-btn" class="wideLabel {% if selected_histology %}active{% endif %}">Histology</label>

                                <input type="radio" name="histology-pathology" id="pathology-btn" value="pathology" onchange="this.form.submit();">
                                <label for="pathology-btn" class="wideLabel {% if selected_pathology %}active{% endif %}">Pathology</label>
                                {% if selected_pathology %}
                                    <ul class="" style="list-style: none;">
                                        {% for tag in general_pathology_tags %}
                                            <li><button class="wideLabel" type="submit" id="general_pathology-id-{{ tag.id }}" name="general_pathology_button" value="general_pathology_tag-id-{{ tag.id }}">
                                                {{ tag.name }}
                                            </button></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- ORGAN SYSTEM selection -->
                    <h4 style="margin: 0;">Organ system</h4>
                    <div class="card border-0 w-100 text-start">
                        <div class="card-body container-fluid">
                            <div class="radio-toolbar">
                                <!-- Show 'All' button -->
                                <input type="radio" name="organ-system" id="organ-all" value="all" onchange="this.form.submit();">
                                <label for="organ-all" class="wideLabel {% if 'all' in selected_organ_tag %}active{% endif %}">All</label>

                                <!-- Other organ buttons -->
                                {% for organ in organ_tags %}
                                    <input type="radio" name="organ-system" id={{ organ.id }} value={{ organ.id }} onchange="this.form.submit();">
                                    <label for="{{ organ.id }}" class="wideLabel {% if organ in selected_organ_tag %}active{% endif %}">{{ organ.name }}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <!-- Slide grid/list -->
        <div class="col-md-10 col-xs-1">
        <div class="card border-0">
            {% if slides %}
                <div class="card border-0">
                <div class="card-body align-content" style="margin-left: auto; padding-top: 10px; padding-bottom: 10px">
                    <ul class="nav nav-pills card-header-pills imageBrowserNavTabs">
                        <li class="nav-item">
                            <a href="#grid-view" class="nav-link active" data-bs-toggle="tab">{% bs_icon 'grid' %}Grid</a>
                        </li>
                        <li class="nav-item">
                            <a href="#list-view" class="nav-link" data-bs-toggle="tab">{% bs_icon 'list' %}List</a>
                        </li>
                    </ul>
                </div>
                </div>

                <div class="card border-0" style="min-height: 600px; padding-top: 10px">
                <div class="tab-content" id="tabs">
                    <div class="tab-pane active" id="grid-view">
                        {% include 'slide/grid_view_task.html' with slides=slides %}
                    </div>
                    <div class="tab-pane" id="list-view">
                        {% include 'slide/list_view.html' with slides=slides %}
                    </div>
                </div>
                </div>

            {% else %}
                <div class="card" style="min-height: 200px; padding-top: 10px">
                    No slides available.
                </div>
            {% endif %}
        </div>
        </div>

    </div>

</div>
</div>
{% endblock content %}


<script>

$(document).ready(function(){
  activateTab('aaa');
});

function activateTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}

$(document).ready(function() {
    $('.btn').onclick(function (event) {
        this.form.submit();
    });
});

</script>
