{% extends 'learnpathology/base.html' %}
{% block content %}
<div class="container">
    <h1>Image database</h1>
</div>
<div class="card mx-auto text-center" style="width: 90%">
<div class="card-body">
<div class="card-text">

    {% if user.is_superuser or user.is_teacher %}
    <p>
        <a href="{% url 'slide:add' %}">Add a whole slide image to the database</a>
    </p>
    {% endif %}
    <p>
        <form class="form">
            <b>Filter:</b>
            Organ:
            <select name="organ[]" multiple class="filter" style="width:20%">
                {% for tag in organ_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_organ_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            System:
            <select name="system[]" multiple class="filter">
                {% for tag in system_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_system_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            Tag:
            <select name="tag[]" multiple class="filter">
                {% for tag in other_tags %}
                    <option value="{{ tag.id }}"{% if tag.id|slugify in selected_other_tags %} selected="selected"{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </form>
    </p>
    {% if slides %}
        <table class="table">
            <tr>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Description</th>
                <th>Tasks</th>
                {% if request.user.is_teacher or request.user.is_superuser %}
                <th>Create task</th>
                {% endif %}
            </tr>
        {% for slide in slides %}
            <tr>
                <td><a href="{% url 'slide:view_full' slide.id %}"><img src="/slide/thumbnails/{{ slide.id }}.jpg" style="width: 100px"></a></td>
                <td>{{ slide.name }}</td>
                <td>{{ slide.description }}</td>
                <td><a href="">Tasks</a></td>
                {% if request.user.is_teacher or request.user.is_superuser %}
                <td><a href="{% url 'multiple_choice:new' slide.id %}">Create new task</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <p>
        No slides found with current filter.
    </p>
    {% endif %}
</div>
</div>
</div>
{% endblock content %}
