{% load slide_filters %}

{% block grid_loop %}

<div class="container-fluid" style="width: 100%">
    {% for chunk in slides|as_chunks:12 %}
        <div class="row">
            {% for slide in chunk %}
                <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" style="border: 1px solid lightgrey">
                    {% if slide in slides_in_course %}
                        {% include 'slide/grid_cards/grid_card_slide_selection.html' with slide=slide slide_selected='true' %}
                    {% else %}
                        {% include 'slide/grid_cards/grid_card_slide_selection.html' with slide=slide slide_selected='false' %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock grid_loop %}
