{% extends 'learnpathology/base.html' %}

{% block javascript %}
$(document).ready(function() {
    $('.delete-button').click(function(event) {
        event.preventDefault();
        this.form.submit();
    });
});
{% endblock %}


{% block content %}
{% if files %}
<h1>The following slides have been uploaded successfully</h1>
<p>
    Please fill in the metadata about each slide to add them to the LearnPathology database:
</p>
{% endif %}
{% for file in files %}
    <div style="background: white; border-radius: 8px; padding: 10px; margin: 10px;">
        <form method="post">
            {% csrf_token %}
        <h3>{{ file.name }}</h3>
        <img src="/slide/uploads/thumbnails/{{ file.id }}.jpg" height="256"><br>
        {% if file.levels == 1 %}
        <div class="bg-warning">
            This image is not pyramidal. Perhaps it is an overview image? Are you sure you want to add this?
        </div>
        {% endif %}
            <hr>
        <div class="">
            <table>
                <tr>
                    <th colspan="2">Image Information</th>
                </tr>
                <tr>
                    <th>Width</th>
                    {% if file.physical_width > 0 %}
                    <td>{{ file.width }} pixels - {{ file.physical_width }} mm</td>
                    {% else %}
                    <td>{{ file.width }} pixels</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Height</th>
                    {% if file.physical_height > 0 %}
                    <td>{{ file.height }} pixels - {{ file.physical_height }} mm</td>
                    {% else %}
                        <td>{{ file.height }} pixels</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Magnification</th>
                    {% if file.magnification > 0 %}
                    <td>{{ file.magnification }}</td>
                    {% else %}
                    <td>Unknown</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <hr>
        <table>
        {{ file.form.as_table }}
        </table>
        <input type="hidden" name="upload_file_id" value="{{ file.id }}">
        <input type="submit" name="action" value="Add to database" class="btn btn-success">
        <input type="submit" value="Delete" class="btn btn-danger delete-button">
        </form>
    </div>
{% empty %}
<h1>No more uploaded slides to add to the database.</h1>
<a href="{% url 'slide:upload_slides' %}" class="btn btn-success">Upload more slides</a>
{% endfor %}
{% endblock content %}

