{% load static %}
{% load slide_filters %}



    <div id="wsi-canvas" class="wsi_canvas" style="height: 60vh;"></div>
    <div id="my-toolbar-container"></div>


<div id="annotation_list" style="display: none;"></div>


<script src="{% static 'slide/openseadragon.min.js' %}"></script>
<script src="{% static 'slide/annotorious-openseadragon-2.7.16/openseadragon-annotorious.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-toolbar@1.1.0/dist/annotorious-toolbar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-selector-pack@0.6.0/dist/annotorious-selector-pack.min.js"></script>
<script src="{% static 'slide/annotorious.min.js' %}"></script>

<script type="text/javascript">

var viewer = OpenSeadragon({
    id: "wsi-canvas",
    zoomPerScroll: 2, // Scroll speed
    minScrollDeltaTime: 150, //	Number of milliseconds between canvas-scroll events.
    zoomPerClick: 1, // disable click to zoom
    prefixUrl: "{% static 'slide/images/' %}", // Where to find OpenSedragon button images
    showNavigator: true, // The navigation window top-right
    showHomeControl: false,     // Hide the home button
    showFullPageControl: false, // Hide the full-page button
    showZoomControl: false,     // Hide the zoom-in and zoom-out buttons
    minZoomLevel: 0.25, // Set your minimum zoom level
    maxZoomLevel: 40,
    {#rotationIncrement: 0,#}
    tileSources: {
        width: {{ slide.width }},
        height:  {{ slide.height }},
        tileWidth: {{ slide.tile_width }},
        tileHeight: {{ slide.tile_height }},
        minLevel: 0,
        maxLevel: {{ slide.osd_levels }}-1,
        getTileUrl: function( level, x, y ) {
            return "/viewer/tile/{{ slide.id }}/" + ({{ slide.osd_levels }} - 1 - level) + "/" + x + "/" + y + "/";
        },
        overlays: [
            ],
    }
});
viewer.innerTracker.keyHandler = null;

var anno = OpenSeadragon.Annotorious(viewer);
Annotorious.SelectorPack(anno); // [ 'rect', 'polygon', 'point', 'circle', 'ellipse', 'freehand' ]


if ("{{ tasktype }}" === 'click_question') {
    anno.removeDrawingTool('point');
    anno.removeDrawingTool('freehand');
}
const toolbar = new Annotorious.Toolbar(anno, document.getElementById('my-toolbar-container'));
viewer.addControl(document.getElementById("my-toolbar-container"), {anchor: OpenSeadragon.ControlAnchor.TOP_LEFT});




document.getElementById('my-toolbar-container').addEventListener('click', function(event) {
    event.preventDefault();
});


// Annotorious + annotation storing
let annotations = anno.getAnnotations();
let annotationList = document.getElementById('annotation_list');
let annotation_counter = 0;

function addAnnotationToList(annotation) {
    annotationList.innerHTML = annotationList.innerHTML
        + "<input "
        + "type='hidden' "
        + "id='annotation-" + annotation_counter + "' "
        + "name='annotation-" + annotation_counter + "' "
        + "data-annotorious-id='" + annotation.id + "'"
        + "value='" + JSON.stringify(annotation) + "'"
        + ">"
    annotation_counter++;
}

function deleteAnnotationFromList(annotation) {
    /*
    Iterate through annotation list to find element with ('data-annotorious-id' === annotation.id) then delete it.
    */
    const annotations = document.getElementById('annotation_list').children;
    for (let i = 0; i < annotations.length; i++) {
        if (annotations[i].getAttribute('data-annotorious-id') === annotation.id) {
            document.getElementById(annotations[i].id).remove();    // Remove annotation
            return annotation.id;
        }
    }
}


{% if annotations %}
{% for a in annotations %}
    anno.addAnnotation({{ a|safe }});
    addAnnotationToList({{ a|safe }});
{% endfor %}
{% endif %}

anno.on('createAnnotation', function(annotation) {
    // Add annotation to list
    addAnnotationToList(annotation);
});

anno.on('updateAnnotation', function(annotation, previous) {
    /* Remove previously stored annotation from list, and add updated one */
    deleteAnnotationFromList(previous);
    addAnnotationToList(annotation);
});

anno.on('deleteAnnotation', function(annotation) {
    // Delete annotation from list
    deleteAnnotationFromList(annotation);
});


</script>



