{% extends 'learnpathology/base.html' %}
{% load static %}

{% block content %}
<div class="container fill" style="display: table">
<h1>Image - {{ slide.name }}</h1>
<p>
    {{ slide.description }}
</p>

<div id="wsi-canvas" class="wsi_canvas" style="width:100%;height:100%; display: table-row"></div>
</div>

<script src="{% static 'slide/openseadragon.min.js' %}"></script>
<script src="{% static 'slide/openseadragon-scalebar.js' %}"></script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "wsi-canvas",
        zoomPerScroll: 2, // Scroll speed
        showNavigator: true, // The navigation window top-right
        prefixUrl: "{% static 'slide/images/' %}", // Where to find OpenSedragon button images
        tileSources: {
            width: {{ slide.width }},
            height:  {{ slide.height }},
            tileWidth: {{ slide.tile_width }},
            tileHeight: {{ slide.tile_height }},
            minLevel: 0,
            maxLevel: {{ slide.osd_levels }}-1,
            getTileUrl: function (level, x, y) {
                return "/viewer/tile/{{ slide.id }}/" + ({{ slide.osd_levels }} -1 - level) + "/" + x + "/" + y + "/";
            },
        }
    });

    var zoomLevel = 5 - 1; //slide.osd_levels - 1;
    var um_per_pixel = 0.05; // TODO: Find initial zoom level from metadata?
    viewer.scalebar({
        type: OpenSeadragon.ScalebarType.MICROSCOPY,
        pixelsPerMeter: Math.round(1e6 / um_per_pixel),
        minWidth: "100px",
        location: OpenSeadragon.ScalebarLocation.BOTTOM_RIGHT,
        xOffset: 10,
        yOffset: 20,
        stayInsideImage: true,
        color: "rgba(100,100,100,0.9)",
        fontColor: "rgb(50,50,50)",
        backgroundColor: "rgba(230, 230, 230, 0.5)",
        fontSize: "large",
        barThickness: 3
    });

</script>
{% endblock %}