{% extends 'learnpathology/single_content_layout.html' %}
{% load slide_filters %}
{% load static %}
{% load bootstrap_icons %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'slide:browser' %}">Image browser</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ slide.name }}</li>
{% endblock breadcrumb_items %}


{% block page_title %}
    {{ slide.name }}
{% endblock page_title %}


{% block button_row %}
{% endblock button_row %}


{% block content %}


<div class="card transparentBackground centerCardHorizontally border-0" style="width: 98%; height: 98%;">
    <div class="row no-gutters w-100 h-100">
        <!-- WSI Viewer -->
        <div class="col " id="imageViewer" style="height: 95%; width: auto">
            <div class="card slideViewerCard transparentBackground">
                <div id="wsi-canvas" class="wsi_canvas" style="height: 100%;"></div>
            </div>
        </div>

        <div class="col col-2" style="height: fit-content; width: 20%;" id="slideColumn">
            <h5 style="margin-top: 1rem">Annotation list</h5>
            <div id="annotationList"></div>
        </div>
    </div>
</div>


<div id="toolbarDiv" style="text-align: center;">

    <!-- Top 3 buttons centered in the middle -->
    <div id="topButtons" >
{#        style="margin-bottom: 300%;"#}
        <div class="button-group">
            <button class="custom-button btn btn-secondary" style="width: 46px;" data-bs-toggle="modal" data-bs-target="#slideInfoModal">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:info-24-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
        <div class="button-group">
            <button id="editAnnotationButton" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:edit-12-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
        <div class="button-group">
            <button id="AnnotationListButton" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:pin-12-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
    </div>

    <!-- Last 4 buttons following -->
    <div>
        <div class="button-group">
            <button id="screenshotButton" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:camera-24-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
        <div class="button-group">
            <button id="zoomInButton" style="width: 46px; text-align: center" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:add-24-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
        <div class="button-group">
            <button id="zoomOutButton" style="width: 46px; text-align: center" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:subtract-24-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
        <div class="button-group">
            <button id="FullScreenButton" style="width: 46px; text-align: center" class="custom-button btn btn-secondary">
                <div class="button-icon">
                    <span class="iconify" data-icon="fluent:arrow-expand-24-regular" data-width="24" data-height="24"></span>
                </div>
            </button>
        </div>
    </div>
</div>


<!-- Slide Information CONTENT BEGIN -->
<div class="modal fade" id="slideInfoModal" tabindex="-1" aria-labelledby="slideInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="slideInfoModalLabel">Slide Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-table-content">
                <div id="table-content" style="display: none;">
                    <table class="table" style="font-size: 14px;">
                        <thead class="thead-light">
                        <tr>
                            <th colspan="2">Core Information</th>
                        </tr>
                        </thead>
                        <tr>
                            <th>Slide name</th>
                            <td>{{ slide.name }}</td>
                        </tr>
                        <tr>
                            <th>Slide description</th>
                            <td>{{ slide.description }}</td>
                        </tr>

                        <thead class="thead-light">
                        <tr>
                            <th colspan="2">Categorization</th>
                        </tr>
                        </thead>
                        <tr>
                            <th>Organ</th>
                            <td>{{ slide.name }}</td>
                        </tr>
                        <tr>
                            <th>Histology/pathology</th>
                            {% if slide.pathology %}
                                <td>Pathology</td>
                            {% else %}
                                <td>Histology</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Stain</th>
                            <td>{{ stain_name }}</td>
                        </tr>

                        <thead class="thead-light">
                        <tr>
                            <th colspan="2">Supplementary information</th>
                        </tr>
                        </thead>
                        <tr>
                            <th>
                                Long description
                                {% if request.user.is_teacher or request.user.is_superuser %}

                                    <a class="custom-button-link" href="{% url 'slide:edit_description' slide.id %}">
                                        <button class="custom-button ">&#9998;
                                        </button>
                                    </a>

                                {% endif %}
                            </th>
                            {% if slide.long_description %}
                                <td>{{ slide.long_description }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>
                                General pathology tags
                                {% if request.user.is_teacher or request.user.is_superuser %}

                                    <a class="custom-button-link" href="{% url 'slide:edit_tags' slide.id %}">
                                        <button class="custom-button ">&#9998;</button>
                                    </a>
                                {% endif %}
                            </th>
                            <td>
                                {% if general_pathology_tags %}
                                    {% for tag in general_pathology_tags %}
                                        {{ tag.name }}<br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


{% block javascript %}

    $(document).ready(function(){
        collapseSidebar();
      // WSI Viewer
    var viewer = OpenSeadragon({
        id: "wsi-canvas",
        zoomPerScroll: 2, // Scroll speed
        minScrollDeltaTime: 150, //	Number of milliseconds between canvas-scroll events.
        prefixUrl: "{% static 'slide/images/' %}", // Where to find OpenSedragon button images
        showNavigator: true, // The navigation window top-right
        showHomeControl: false,     // Hide the home button
        showFullPageControl: false, // Hide the full-page button
        showZoomControl: false,     // Hide the zoom-in and zoom-out buttons
        minZoomLevel: 0.25, // Set your minimum zoom level
        maxZoomLevel: 40,
        rotationIncrement: 0,
        tileSources: {
            width: {{ slide.width }},
            height:  {{ slide.height }},
            tileWidth: {{ slide.tile_width }},
            tileHeight: {{ slide.tile_height }},
            minLevel: 0,
            maxLevel: {{ slide.osd_levels }}-1,
            getTileUrl: function (level, x, y) {
                return "/viewer/tile/{{ slide.id }}/" + ({{ slide.osd_levels }} -1 - level) + "/" + x + "/" + y + "/";
            },
        }
    });

{#    // Initialize the Annotorious plugin#}
{#    var anno = OpenSeadragon.Annotorious(viewer);#}
{##}
{#    Annotorious.SelectorPack(anno); // [ 'rect', 'polygon', 'point', 'circle', 'ellipse', 'freehand' ]#}
{#    anno.removeDrawingTool('freehand');#}
{#    {% if request.user.is_teacher or request.user.is_superuser %}#}
{#        const toolbar = new Annotorious.Toolbar(anno, document.getElementById('annotorious-toolbar-container'));#}
{#    {% else %}#}
{#        anno.readOnly = true;#}
{#    {% endif %}#}
{##}
{#    {% if annotations %}#}
{#    {% for a in annotations %}#}
{#        anno.addAnnotation({{ a|safe }});#}
{#    {% endfor %}#}
{#    {% endif %}#}
{##}
{##}
{#    // Annotorious + annotation storing#}
{#    anno.on('createAnnotation', function(annotation) {#}
{#        // Save new annotation#}
{#        let slide_id = {{ slide.id }};#}
{#        createAnnotation(annotation, slide_id);#}
{#        updateAnnotationList();#}
{#        // TODO: Write comment. What do these two lines do?#}
{#        visible_annotorious = true;#}
{#        anno.setVisible(visible_annotorious);#}
{#    });#}
{##}
{#    anno.on('updateAnnotation', function(annotation, previous) {#}
{#        // Update the stored annotation in the DB#}
{#        let slide_id = {{ slide.id }};#}
{#        updateAnnotation(annotation, previous, slide_id);#}
{#        updateAnnotationList();#}
{#    });#}
{##}
{#    anno.on('deleteAnnotation', function(annotation) {#}
{#        // Delete annotation from DB#}
{#        let slide_id = {{ slide.id }};#}
{#        deleteAnnotation(annotation, slide_id);#}
{#        updateAnnotationList();#}
{#    });#}


    viewer.addControl(document.getElementById("toolbarDiv"), {anchor: OpenSeadragon.ControlAnchor.BOTTOM_RIGHT});

    viewer.addHandler('after-resize', function(event) {

    var viewerHeight = document.getElementById("imageViewer").offsetHeight
    var marginHeight = Math.round((viewerHeight * 15) / 100);
    document.getElementById("topButtons").style.marginBottom = marginHeight + "px";
    });







    // Scalebar
    try {
        let pixelsPerMeter = {{ slide|get_pixels_per_meter }};
        viewer.scalebar({
            type: OpenSeadragon.ScalebarType.MICROSCOPY,
            pixelsPerMeter: pixelsPerMeter,
            minWidth: "250px",
            location: OpenSeadragon.ScalebarLocation.BOTTOM_LEFT,
            xOffset: 10,
            yOffset: 20,
            stayInsideImage: true,
            color: "rgba(100,100,100,0.9)",
            fontColor: "rgb(50,50,50)",
            backgroundColor: "rgba(230, 230, 230, 0.5)",
            fontSize: "large",
            barThickness: 3
        });
    } catch (e) {
        alert('Couldn\'t get scaling factor')
    }


    window.onLoad = toggleCardVisibility();

    // Zoom Button Functionality
    const zoomLevels = [0.25, 1, 10, 20, 40]; // Include 0.25x
    let currentZoomIndex = 0;

    const zoomButton = document.getElementById("zoomButton");
    const setZoomButton = document.getElementById("setZoomButton");

    zoomButton.addEventListener("click", function () {
        if (currentZoomIndex < zoomLevels.length) {
            const targetZoom = zoomLevels[currentZoomIndex];
            viewer.viewport.zoomTo(targetZoom);
            currentZoomIndex = (currentZoomIndex + 1) % zoomLevels.length;
            updateButtonLabel();
        }
    });

    function updateButtonLabel() {
        if (currentZoomIndex < zoomLevels.length) {
            setZoomButton.textContent = `${zoomLevels[currentZoomIndex]}x`;
        }
    }



    // Screenshoot Button Functionality
    document.getElementById("screenshotButton").addEventListener('click', function () {
        console.log('Click!');
        // Hide toolbar:
        let toolbar = document.getElementsByClassName("openseadragon-container")[0].childNodes[1];
        toolbar.style.display = "none";
        html2canvas($("#wsi-canvas")[0]).then(canvas => {
            var now = new Date();
            var formattedDate = now.format("yyyy-MM-dd hh-mm-ss");
            console.log(now);
            // Trigger download
            var link = document.createElement('a');
            link.href = canvas.toDataURL("image/jpeg");
            link.download = 'LearnPathology Screenshot ' + formattedDate + '.jpg';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }).then(x => {
            // Display toolbar again
            let toolbar = document.getElementsByClassName("openseadragon-container")[0].childNodes[1];
            toolbar.style.display = "block";
        });

    });

    // Default Button Functionality
    document.getElementById("zoomInButton").addEventListener('click', function () {
        var currentZoom = viewer.viewport.getZoom();
        var newZoom = currentZoom * viewer.zoomPerScroll; // Adjust the factor as needed

        if (newZoom <= viewer.viewport.getMaxZoom()) {
            viewer.viewport.zoomTo(newZoom);
        }
    });

    // Zoom out button event listener
    document.getElementById("zoomOutButton").addEventListener('click', function () {
        var currentZoom = viewer.viewport.getZoom();
        var newZoom = currentZoom / viewer.zoomPerScroll; // Adjust the factor as needed

        if (newZoom >= viewer.viewport.getMinZoom()) {
            viewer.viewport.zoomTo(newZoom);
        }
    });

    document.getElementById("FullScreenButton").addEventListener('click', function () {
        if (OpenSeadragon.isFullScreen()) {
            viewer.setFullScreen(false);
        } else {
            viewer.setFullScreen(true);
        }
    });


    // Annotation List Functionality
    document.getElementById("annotationListButton").addEventListener("click", toggleCardVisibility);

    var annotationList = document.getElementById('annotationList');

    function updateAnnotationList() {
        annotationList.innerHTML = ''; // Clear previous list

        var annotations = anno.getAnnotations();

        annotations.sort(function (a, b) {
            var textA = a.body[0].value.toUpperCase();
            var textB = b.body[0].value.toUpperCase();
            return textA.localeCompare(textB);
        });

        annotations.forEach(function (annotation) {
            var listItem = document.createElement('div');

            var annotationButton = document.createElement('button');
            annotationButton.textContent = annotation.body[0].value;
            annotationButton.classList.add('annotationListButton');
            annotationButton.addEventListener('click', function () {
                anno.setVisible(true);
                visible_annotorious = true;
                console.log(visible_annotorious);
                anno.selectAnnotation(annotation);
                anno.fitBoundsWithConstraints(annotation, {'padding': 200});
            });

            listItem.appendChild(annotationButton);
            {% if request.user.is_teacher or request.user.is_superuser %}
                var deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'X';
                deleteButton.classList.add('btn', 'btn-danger');

                deleteButton.addEventListener('click', function () {
                    deleteAnnotation(annotation, {{ slide.id }});
                    anno.removeAnnotation(annotation);
                    anno.cancelSelected();
                    updateAnnotationList();
                });
                listItem.appendChild(deleteButton);
            {% endif %}

            annotationList.appendChild(listItem);
        });
    }


    // Annotation Button Functionality
    var visible_annotorious = false;
    console.log(visible_annotorious);
    document.getElementById("annotation").addEventListener('click', function () {
        visible_annotorious = !visible_annotorious;
        anno.setVisible(visible_annotorious);
        console.log(visible_annotorious);
    });

    updateButtonLabel();
    updateAnnotationList();

    /* Info button functionality */
    // Function to set the modal content
    function setModalContent() {
        var tableContent = $('#table-content').html();
        $('#modal-table-content').html(tableContent);
    }

    $('#slideInfoModal').modal({
        show: false
    });

    $('#slideInfoModal').on('show.bs.modal', function () {
        setModalContent();
    });
});
{% endblock javascript %}