{% load static %}
<div class="slideGridViewCard card" id="slide_{{ slide.id }}_card" style="border: 1px solid lightgrey;">

    {# Image display #}
    <a class="cardImageHeader card border-0" href="#">
        <div class="card transparentBackground border-0 w-100 h-100">
            <div class="headerImageContainer card">
                <!-- Checkmark positioned absolutely within the card -->
                <div id="slide_{{ slide.id }}_checkmark"
                     style="{% if slide_selected == 'true' %}display: block;{% else %}display: none;{% endif %};
                     position: absolute; top: 5px; right: 5px;">
                    <svg class="bi text-success" width="32px" height="32px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        {% include 'svg_icons/check-circle.svg' %}
                    </svg>
                </div>

                <img class="headerImage" src="/slide/thumbnails/{{ slide.id }}.jpg" alt="WSI thumbnail for {{ slide.name }}">
                <!-- Use below line to crop image to fit the header container -->
                {# <img class="headerImage croppedImage" src="/slide/thumbnails/{{ slide.id }}.jpg" alt="WSI thumbnail"> #}
            </div>
        </div>
    </a>

    {# Card content (slide name, description, buttons, ...) #}
    <div class="gridCardContent">
        <a class="card noLinkStyling border-0" href="#">
            <h3 class="card-title">{{ slide.name }}</h3>
            <p class="card-subtitle" style="font-size: medium;"><span class="body-text">{{ slide.description }}</span></p>
            {% block gridCardQuestions %}
            {% endblock gridCardQuestions %}
        </a>
    </div>

</div>
